<admin-header title="Search"></admin-header>

<ion-content fullscreen class="ion-padding">
	<main class="limited-container">
		<ion-card-header>
			<ion-card-title> Step 1 </ion-card-title>
			<ion-card-subtitle> How do you want to search? </ion-card-subtitle>
		</ion-card-header>
		<ion-list>
			<ion-item
				detail
				button
				class="search-item"
				routerLink="by-name"
				routerDirection="forward"
			>
				Name & Zip Code
			</ion-item>
			<ion-item
				detail
				button
				class="search-item"
				routerLink="by-email"
				routerDirection="forward"
			>
				Email Address
			</ion-item>
			<ion-item
				detail
				button
				class="search-item"
				routerLink="by-code"
				routerDirection="forward"
			>
				Registration Code
			</ion-item>
		</ion-list>
	</main>
</ion-content>
