<ion-header>
  <ion-toolbar color="xmasred">
    <ion-title slot="start">{{ item?.uid ? ('ADDCHILD.ADDTITLE' | translate) : ('ADDCHILD.EDITTITLE' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *appLet="$isInfant | async as isInfant">
  <form [formGroup]="form!" novalidate>
    <ion-grid fixed="true">
      <ion-row>
        <ion-col>
          <ion-note> {{ 'ADDCHILD.INSTRUCTIONS' | translate }} </ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *appLet="'firstName' as controlName">
            <ion-label position="stacked" class="ion-padding-bottom"> {{ 'ADDCHILD.CHILD_NAME' | translate }} <em>{{ 'ADDCHILD.FIRST_EM' | translate }}</em> </ion-label>
            <ion-input placeholder="Your child's first name" [formControlName]="controlName" debounce="750" #firstNameField></ion-input>
            <p
              *ngIf="form!.controls[controlName].dirty && form!.controls[controlName].invalid"
              class="ion-no-padding ion-no-margin padding-bottom-sm"
            >
              <!-- <span *ngFor="let message of formValidationMessages[controlName]">
                <span *ngIf="form!.controls[controlName].hasError(message.type)">
                  <ion-note color="danger">{{ message.message }}</ion-note>
                </span>
              </span> -->
            </p>
          </ion-item>

          <ion-item *appLet="'dateOfBirth' as controlName">
            <ion-label position="stacked" class="ion-padding-bottom"> {{ 'ADDCHILD.BIRTH_DATE' | translate }} </ion-label>
            <ion-datetime [formControlName]="controlName" debounce="750" displayFormat="MMM DD YYYY" min="2008" (ionChange)="birthdaySelected($event)"></ion-datetime>
            <p
              *ngIf="form!.controls[controlName].dirty && form!.controls[controlName].invalid"
              class="ion-no-padding ion-no-margin padding-bottom-sm"
            >
              <!-- <span *ngFor="let message of formValidationMessages[controlName]">
                <span *ngIf="form!.controls[controlName].hasError(message.type)">
                  <ion-note color="danger">{{ message.message }}</ion-note>
                </span>
              </span> -->
            </p>
          </ion-item>

          <div class="ion-padding-top ion-text-wrap" *ngIf="$isInfant | async">
            <ion-item lines="none">
              <ion-icon name="gift" color="success" slot="start"></ion-icon>
              <ion-text>
                {{ 'ADDCHILD.INFANT_MSG' | translate }}
              </ion-text>
            </ion-item>
          </div>

          <div class="ion-padding-top" *ngIf="!($isInfant | async)">
            <ion-radio-group *appLet="'toyType' as controlName" [formControlName]="controlName">
              <ion-list-header>
                <ion-label>{{ 'ADDCHILD.TOY_TYPE' | translate }}</ion-label>
                <p *ngIf="form!.controls[controlName].invalid" class="ion-no-padding ion-no-margin">
                  <span>
                    <br />
                    <ion-note color="danger">{{ 'COMMON.REQUIRED_CHOICE' | translate }}</ion-note>
                  </span>
                </p>
              </ion-list-header>

              <ion-item class="ion-hide">
                <ion-label>{{ 'ADDCHILD.BABIES' | translate }}</ion-label>
                <ion-radio slot="start" value="infant"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{ 'ADDCHILD.BOYS' | translate }}</ion-label>
                <ion-radio slot="start" value="boys"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{ 'ADDCHILD.GIRLS' | translate }}</ion-label>
                <ion-radio slot="start" value="girls"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div class="ion-padding-top" *ngIf="!($isInfant | async)">
            <ion-radio-group *appLet="'ageGroup' as controlName" [formControlName]="controlName">
              <ion-list-header>
                <ion-label>{{ 'ADDCHILD.AGE_GROUP' | translate }}</ion-label>
                <p *ngIf="form!.controls[controlName].invalid" class="ion-no-padding ion-no-margin">
                  <span>
                    <br />
                    <ion-note color="danger">{{ 'COMMON.REQUIRED_CHOICE' | translate }}</ion-note>
                  </span>
                </p>
              </ion-list-header>

              <ion-item (click)="setInfant(true)">
                <ion-label>{{ 'ADDCHILD.AGE0' | translate }}</ion-label>
                <ion-radio slot="start" value="0-2"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{ 'ADDCHILD.AGE3' | translate }}</ion-label>
                <ion-radio slot="start" value="3-5"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{ 'ADDCHILD.AGE6' | translate }}</ion-label>
                <ion-radio slot="start" value="6-8"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{ 'ADDCHILD.AGE9' | translate }}</ion-label>
                <ion-radio slot="start" value="9-11"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button (click)="cancel()">
      <ion-label>{{ 'COMMON.CANCEL' | translate }}</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [disabled]="!form?.valid" (click)="returnChild()">
      <ion-label color="primary">{{ 'COMMON.SAVE_CHANGES' | translate }}</ion-label>
      <ion-icon name="person-add" color="primary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
