<admin-header title="{{ 'Resend Email' | adminText }}" />

<ion-content class="ion-padding-horizontal">
	<div class="limited-container">
		<ion-card-header class="ion-padding-vertical">
			<p>
				{{ "Enter the customer's email address, then select Send Email." | adminText }}
			</p>
			<p>
				{{
					'This sends the email only if the customer has an account and their
        registration has been completed.' | adminText
				}}
			</p>
		</ion-card-header>

		<form [formGroup]="form">
			<ion-list>
				<ion-item>
					<ion-input
						label="{{ 'Email' | adminText }}"
						formControlName="emailAddress"
						type="email"
						autocomplete="off"
						placeholder="{{ 'required' | adminText }}"
					/>
				</ion-item>
			</ion-list>
			<ion-button
				(click)="searchAndSend()"
				expand="block"
				[disabled]="!form.valid"
				class="ion-padding-horizontal"
			>
				<ion-icon name="mail-outline" slot="start" aria-hidden="true" />
				<ion-label> {{ 'Send Email' | adminText }} </ion-label>
			</ion-button>
		</form>
	</div>
</ion-content>
