<ion-content color="light">
  <ion-header class="ion-no-border">
    <ion-toolbar color="none">
      <app-language-toggle
        slot="end"
        class="ion-padding-end"
      ></app-language-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <img
          src="assets/DSCS-Santa-Body_Red.png"
          class="logo"
          alt="logo with santa claus"
        />
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom">
      <ion-col class="ion-text-center">
        <ion-title color="xmasred">
          <strong innerHtml="{{ 'HOME.WELCOME_MESSAGE' | translate }}"></strong>
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <ion-label> {{ 'HOME.SIGN_IN_INST' | translate }} </ion-label>
        <br />
        <ion-button
          color="white"
          class="remove-shadow dark-border"
          [routerLink]="['/sign-in']"
        >
          <div class="button-text-padding">
            {{ 'COMMON.SIGN_IN' | translate }}
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="ion-text-center es-pd-top-xl">
        <ion-label> {{ 'HOME.CREATE_ACCOUNT_INST' | translate }} </ion-label>
        <br />
        <ion-button
          color="white"
          class="remove-shadow dark-border"
          [routerLink]="['/sign-up']"
        >
          <div class="button-text-padding">
            {{ 'HOME.CREATE_ACCOUNT' | translate }}
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="es-pd-top-xxl">
      <ion-col class="ion-text-center">
        <a href="https://www.facebook.com/denversantaclausshop" target="_blank">
          <ion-button
            color="white"
            class="remove-shadow round-button ion-margin-end dark-border"
            size="default"
          >
            <ion-icon
              slot="icon-only"
              name="logo-facebook"
              color="medium"
            ></ion-icon>
          </ion-button>
        </a>

        <a
          href="https://www.instagram.com/denversantaclausshop/"
          target="_blank"
        >
          <ion-button
            color="white"
            class="remove-shadow round-button dark-border"
            size="default"
          >
            <ion-icon
              slot="icon-only"
              name="logo-instagram"
              color="medium"
            ></ion-icon>
          </ion-button>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>
          <ion-note>
            {{ environmentName }}<br />
            {{ environmentVersion }}
          </ion-note>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
