<ion-header>
  <ion-toolbar>
    <ion-title>submit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Need to add children, datetime here along with additional information about
    event, how to change/cancel reservation etc...
  </p>
  <p>
    Child Count: {{ viewService.childCount$ | async }}
  </p>
  <p>
    Children:
    <ion-list>
      <ion-item *ngFor="let child of viewService.children$ | async">
        Name: {{ child.firstName }} {{ child.lastName }} <br/>
        DOB: {{ child.dateOfBirth }}
        <!-- Maybe show age in years? -->
      </ion-item>
    </ion-list>
  </p>
  <p *ngIf="viewService.dateTimeSlot$ | async as dateTime">
    Date/Time: {{ dateTime.dateTime | date }}
    <!-- TODO: Formatting -->
  </p>
  <ion-button (click)="submit()">
    Submit
  </ion-button>
</ion-content>
