<ion-header>
  <ion-toolbar>
    <ion-segment value="$view | async" (ionChange)="changeView($event)">
      <ion-segment-button value="registration">
        Registrations
      </ion-segment-button>
      <ion-segment-button value="checkin"> Checkins </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ng-container *ngIf="($view | async) === 'registration'">
    <ion-title class="ion-padding-top"> DSCS Stats: (Calculated 12:00 AM) </ion-title>

    <ion-grid>
      <ion-row>
        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value">
                {{ $registrations | async }}
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Registrations </ion-card-title>
              <ion-card-subtitle> Completed Registrations </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value"> {{ $children | async }} </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Children </ion-card-title>
              <ion-card-subtitle> Total children </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-md size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value">
                {{ $childrenPerRegistration | async }}
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Children / Customer </ion-card-title>
              <ion-card-subtitle> Avg Children per customer </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size-md
          size="12"
          *ngIf="$dateTimeStats | async as dateTimeStats"
        >
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-title> Schedule </ion-card-title>
              <ion-card-subtitle> Counts by Date/Time </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6" class="table-header ion-text-start">
                    Date/Time
                  </ion-col>
                  <ion-col size="3" class="table-header"> Customers </ion-col>
                  <ion-col size="3" class="table-header"> Children </ion-col>
                </ion-row>
                <ion-row
                  *ngFor="let stat of dateTimeStats;"
                >
                  <ion-col size="12">
                    <ion-row>
                      <ion-col size="6" class="ion-text-start">
                        {{ stat.dateTime | date:'MMM d, h:mm a':'MST' }}
                      </ion-col>
                      <ion-col size="3"> {{ stat.count }} </ion-col>
                      <ion-col size="3"> {{ stat.childCount }} </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-title> Daily Stats </ion-card-title>
              <ion-card-subtitle> Toy Type / Age By Day </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="2" class="table-header ion-text-start">
                    Date / Type
                  </ion-col>
                  <ion-col size="2" class="table-header"> 0-2 </ion-col>
                  <ion-col size="2" class="table-header"> 3-5 </ion-col>
                  <ion-col size="2" class="table-header"> 6-8 </ion-col>
                  <ion-col size="2" class="table-header"> 9-11 </ion-col>
                  <ion-col size="2" class="table-header"> Total </ion-col>
                </ion-row>
                <ion-row
                  *ngFor="let stat of ($typeAgeStats | async);"
                >
                  <ion-col size="12">
                    <ion-row>
                      <ion-col size="12" class="ion-text-start">
                        {{ stat.date | date:'MMM d':'MST' }}
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="2"> Infants </ion-col>
                      <ion-col size="2"> {{ stat.stats.infants.age02 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.infants.age35 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.infants.age68 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.infants.age911 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.infants.total }} </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="2"> Girls </ion-col>
                      <ion-col size="2"> {{ stat.stats.girls.age02 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.girls.age35 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.girls.age68 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.girls.age911 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.girls.total }} </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="2"> Boys </ion-col>
                      <ion-col size="2"> {{ stat.stats.boys.age02 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.boys.age35 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.boys.age68 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.boys.age911 }} </ion-col>
                      <ion-col size="2"> {{ stat.stats.boys.total }} </ion-col>
                    </ion-row>

                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col
          size-xs
          size="12"
          *ngIf="$zipCodeStats | async as zipCodeStats"
        >
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-title> Location </ion-card-title>
              <ion-card-subtitle> Counts by Zip Code </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="table-header ion-text-start">
                    Zip Code
                  </ion-col>
                  <ion-col size="4" class="table-header"> Customers </ion-col>
                  <ion-col size="4" class="table-header"> Children </ion-col>
                </ion-row>
                <ion-row
                  *ngFor="let stat of zipCodeStats; let i = index;"
                  [ngClass]="(i % 2 == 0) ? 'alt-row' : ''"
                >
                  <ion-col size="4" class="ion-text-start">
                    <ion-text color="primary" class="table-header">
                      {{ stat.zip }}
                    </ion-text>
                  </ion-col>
                  <ion-col size="4"> {{ stat.count }} </ion-col>
                  <ion-col size="4"> {{ stat.childCount }} </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="($view | async) === 'checkin'">
    <ion-title class="ion-padding-top"> Checkin Stats: {{ $checkInLastUpdated | async }} </ion-title>

    <ion-grid>
      <ion-row>
        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value"> {{ $checkInTotalCustomerCount | async }} </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Customers </ion-card-title>
              <ion-card-subtitle> Total Checked In </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value"> {{ $checkInTotalChildCount | async }} </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Children </ion-card-title>
              <ion-card-subtitle> Total Checked In </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value"> {{ $checkInTotalPreregisteredCount | async }} </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Preregistered </ion-card-title>
              <ion-card-subtitle> Checked In </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value"> {{ $checkInOnSiteRegistration | async }} </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> On Site </ion-card-title>
              <ion-card-subtitle> Registration </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-sm size="12">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-text class="stat-value"> {{ $checkInTotalModifiedCount | async }} </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title> Modifications </ion-card-title>
              <ion-card-subtitle> To Registrations </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col
          size-md
          size="12"
          *ngIf="$checkInDateTimeCounts | async as dateTimeStats"
        >
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-title> Checkin History </ion-card-title>
              <ion-card-subtitle> Counts by Date/Time </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row
                  *ngFor="let stat of dateTimeStats | keyvalue; let i = index;"
                >
                  <ion-col size="12" class="ion-text-start"
                    ><ion-text color="primary" class="table-header"
                      >December {{ stat.key }}th, 2021
                    </ion-text></ion-col
                  >
                  <ion-col size="12">
                    <ion-row class="ion-no-padding ion-no-margin">
                      <ion-col size="2" class="table-header ion-text-start"> Time </ion-col>
                      <ion-col size="2" class="table-header"> Customers </ion-col>
                      <ion-col size="2" class="table-header"> Children </ion-col>
                      <ion-col size="2" class="table-header"> Preregistered </ion-col>
                      <ion-col size="2" class="table-header"> Modified </ion-col>
                      <ion-col size="2" class="table-header"> On Site </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" *ngFor="let value of stat.value; let i = index;">
                    <ion-row [ngClass]="(i % 2 == 0) ? 'alt-row' : ''" class="ion-no-padding ion-no-margin">
                      <ion-col size="2">
                        {{ value.hour | convertHour24To12 }}
                      </ion-col>
                      <ion-col size="2"> {{ value.customerCount }} </ion-col>
                      <ion-col size="2"> {{ value.childCount }} </ion-col>
                      <ion-col size="2"> {{ value.pregisteredCount }} </ion-col>
                      <ion-col size="2"> {{ value.modifiedCount }} </ion-col>
                      <ion-col size="2"> {{ value.customerCount - value.pregisteredCount }} </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
