<ion-card>
	<ion-card-header>
		<ion-item class="inset-ion-item-title">
			<ion-card-title>
				{{ 'MENU.CHILDREN' | translate }}
			</ion-card-title>
			<ion-badge color="success" slot="end" *ngIf="childCount">
				Complete
			</ion-badge>
		</ion-item>
	</ion-card-header>
	<ion-card-content class="ion-text-center">
		<ng-container *ngIf="!childCount; else hasChildren">
			<p>
				<strong>
					{{ 'OVERVIEW.NO_CHILDREN' | translate }}
				</strong>
				<br />
				{{ 'OVERVIEW.NO_CHILDREN_MESSAGE' | translate }}
			</p>
			<p class="ion-text-end es-pd-top-sm">
				<ion-button color="xmasred" [routerLink]="['../children']">
					{{ 'OVERVIEW.ADD_CHILD' | translate }}
				</ion-button>
			</p>
		</ng-container>

		<ng-template #hasChildren>
			<ion-list>
				<ion-item *ngFor="let child of children" lines="none">
					<ion-icon
						name="man-outline"
						slot="start"
						*ngIf="child.toyType === 'boys'"
					></ion-icon>
					<ion-icon
						name="woman-outline"
						slot="start"
						*ngIf="child.toyType === 'girls'"
					></ion-icon>
					<ion-icon
						name="happy-outline"
						slot="start"
						*ngIf="child.toyType === 'infants'"
					></ion-icon>
					<ion-icon
						name="alert-circle"
						color="danger"
						slot="start"
						*ngIf="!child.toyType"
					></ion-icon>
					<div class="width-max">
						<ion-label class="width-max ion-text-wrap">
							{{ child.firstName }} {{ child.lastName }}
						</ion-label>
						<ion-note *ngIf="!child.toyType" color="danger">
							{{ 'CHILDREN.INVALID_TOYTYPE' | translate }}
						</ion-note>
					</div>
				</ion-item>
			</ion-list>

			<p class="ion-text-end es-pd-top-sm">
				<ion-button color="xmasred" [routerLink]="['../children']">
					{{ 'OVERVIEW.ADD_EDIT_CHILD' | translate }}
				</ion-button>
			</p>
		</ng-template>
	</ion-card-content>
</ion-card>
