// Disable autofill colors
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 600000s 0s,
		color 600000s 0s;
	background-color: transparent !important;
}

input:-internal-autofill-selected {
	background-color: transparent !important;
	color: transparent !important;
}

.search-buttons {
	bottom: 0;
	padding-top: 24px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.limited-container {
	max-width: 800px;
	margin: auto;
}
