rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isUser(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/parameters/admin).data.adminusers;
    }

    match /customers/{userId} {
      allow get: if isUser(userId) || isAdmin();
      allow list: if isAdmin();
      // allow create: if isUser(userId);
      // allow update: if isUser(userId);
      // allow delete: if isUser(userId) || isAdmin();
      allow write: if false;
    }

    match /children/{childId} {
      allow get: if isUser(resource.data.parentId) || isAdmin();
      allow list: if isUser(resource.data.parentId) || isAdmin();
      // allow create: if isUser(request.resource.data.parentId);
      // allow update: if isUser(request.resource.data.parentId);
      // allow delete: if isUser(resource.data.parentId) || isAdmin();
      allow write: if false;
    }

    match /registrations/{documentId} {
      allow read: if isUser(resource.data.id) || isAdmin();
      // allow create: if isUser(request.resource.data.id);
      // allow update: if (isUser(request.resource.data.id) && isUser(resource.data.id));
      // allow delete: if isUser(resource.data.id) || isAdmin();
      allow write: if false;
    }

    match /checkins/{documentId} {
      allow create: if isAdmin();
      allow read: if isAdmin();
    }

    match /counters/{document=**} {
      allow read: if isAdmin();
      allow write: if false;
    }

    match /parameters/admin {
      allow read: if false;
      allow write: if false;
    }

    match /parameters/public {
      allow write: if isAdmin();
      allow read: if true;
    }

    match /registrationsearchindex/{documentId} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }

    match /registrationemails/{documentId} {
      allow read: if isUser(resource.id);
      allow update: if request.resource.data.resend != null && !("resend" in resource.data) &&
                    request.resource.data.diff(resource.data).affectedKeys().hasOnly(["resend"])
    }

    match /stats/{document=**} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
  }
}