<ion-header>
	<ion-toolbar>
		<ion-title> Add/Edit Child </ion-title>
		<ion-button
			slot="end"
			fill="outline"
			color="danger"
			(click)="dismiss()"
		>
			Cancel
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
	@if (form) {
		<ion-list>
			<ion-list-header color="none" class="review-instructions">
				<span>
					<h3>Instructions</h3>
					<ion-note>
						Add all child information below. Ensure the information
						is accurate. Only children who are ages 11 and under can
						recieve toys
					</ion-note>
				</span>
			</ion-list-header>
			<ion-item-divider>
				<ion-label>Child Information</ion-label>
			</ion-item-divider>
			<form [formGroup]="form">
				<ion-item>
					<ion-label position="fixed">First Name</ion-label>
					<ion-input
						type="text"
						autocomplete="off"
						formControlName="firstName"
						placeholder="required"
						minlength="2"
						maxlength="20"
					></ion-input>
					@if (
						this.form.controls.firstName.dirty &&
						this.form.controls.firstName.invalid
					) {
						<ion-note slot="error" color="danger">
							Invalid name
						</ion-note>
					}
				</ion-item>
				<ion-item>
					<ion-label position="fixed">Last Name</ion-label>
					<ion-input
						type="text"
						autocomplete="off"
						formControlName="lastName"
						placeholder="required"
						minlength="2"
						maxlength="25"
					></ion-input>
					@if (
						this.form.controls.lastName.dirty &&
						this.form.controls.lastName.invalid
					) {
						<ion-note slot="error" color="danger">
							Invalid name
						</ion-note>
					}
				</ion-item>
				<ion-item>
					<ion-label position="fixed">Birth Date</ion-label>
					<ion-input
						(ionChange)="birthdaySelected($event)"
						formControlName="dateOfBirth"
						autocomplete="off"
						type="date"
						[min]="minBirthDate"
						[max]="maxBirthDate"
					></ion-input>
					@if (
						this.form.controls.dateOfBirth.dirty &&
						this.form.controls.dateOfBirth.invalid
					) {
						<ion-note slot="error" color="danger">
							Invalid date. Only ages 0-11 allowed.
						</ion-note>
					}
				</ion-item>
				@if ((isInfant$ | async) !== true) {
					<ion-radio-group formControlName="toyType">
						<ion-item-divider>
							<ion-label>Choose Toy Type</ion-label>
						</ion-item-divider>
						<ion-item>
							<ion-label>Girls</ion-label>
							<ion-radio slot="start" value="girls"></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Boys</ion-label>
							<ion-radio slot="start" value="boys"></ion-radio>
						</ion-item>
					</ion-radio-group>
				}
			</form>
			<ion-item-divider class="success-divider">
				<ion-label>
					Is all information correct and accurate?
				</ion-label>
			</ion-item-divider>
			<ion-button
				shape="round"
				expand="block"
				class="confirm-button"
				[disabled]="!form.valid"
				(click)="saveChild()"
			>
				Save Child
			</ion-button>
		</ion-list>
	}
</ion-content>
