<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Denver Santa Claus Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>Event Information</ion-item>
  <ion-item>Arrival Date & Time</ion-item>
  <ion-item>Your Children</ion-item>
  <ion-item>Your Tickets</ion-item>
</ion-list>

<ion-footer>
  <ion-segment>
    <ion-segment-button>English</ion-segment-button>
    <ion-segment-button>Spanish</ion-segment-button>
  </ion-segment>
  
  <ion-item>
    <ion-icon slot="start" name="person-circle"></ion-icon>
    Your Account
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="log-out"></ion-icon>
    Sign Out
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="mail"></ion-icon>
    Contact Us
  </ion-item>
</ion-footer>