<ion-content size="fullscreen" color="light" class="ion-text-center">
  <div class="div-container">
    <div class="es-mg-top-xxl es-mg-bottom-xxl es-pd-bottom-xxl es-pd-top-xxl">
      <img src="assets/images/bad-weather.png" alt="shop closed image" />
    </div>

    <div>
      <ion-text color="xmasred">
        <h3>{{ 'BAD_WEATHER.1' | translate }}</h3>
        <h3>{{ 'BAD_WEATHER.2' | translate }}</h3>
      </ion-text>
    </div>

    <div class="es-mg-bottom-xxl es-mg-top-xxl">
      <a href="https://www.facebook.com/denversantaclausshop" target="_blank">
        <ion-button
          color="white"
          class="remove-shadow round-button ion-margin-end dark-border"
          size="default"
        >
          <ion-icon
            slot="icon-only"
            name="logo-facebook"
            color="medium"
          ></ion-icon>
        </ion-button>
      </a>

      <a href="https://www.instagram.com/denversantaclausshop/" target="_blank">
        <ion-button
          color="white"
          class="remove-shadow round-button dark-border"
          size="default"
        >
          <ion-icon
            slot="icon-only"
            name="logo-instagram"
            color="medium"
          ></ion-icon>
        </ion-button>
      </a>
    </div>
  </div>
</ion-content>
