<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			@if (showBack()) {
				<ion-button
					aria-label="{{ 'Go back' | adminText }}"
					[routerLink]="[backRoute()]"
					routerDirection="back"
				>
					<ion-icon
						name="arrow-back-sharp"
						slot="icon-only"
						aria-hidden="true"
					/>
				</ion-button>
			}
		</ion-buttons>
		<h1 class="page-title">{{ title() | adminText }}</h1>
		<ion-buttons slot="end">
			<ng-content />
		</ion-buttons>
	</ion-toolbar>
	<div class="preferences-row"><admin-preferences /></div>
</ion-header>
