<core-app-update-prompt
	[copy]="{
		readyTitle: ('APP_UPDATE.READY_TITLE' | translate),
		readyMessage: ('APP_UPDATE.READY_MESSAGE' | translate),
		failedTitle: ('APP_UPDATE.FAILED_TITLE' | translate),
		failedMessage: ('APP_UPDATE.FAILED_MESSAGE' | translate),
		unrecoverableTitle: ('APP_UPDATE.UNRECOVERABLE_TITLE' | translate),
		unrecoverableMessage: ('APP_UPDATE.UNRECOVERABLE_MESSAGE' | translate),
		reloadLabel: ('APP_UPDATE.RELOAD' | translate),
		laterLabel: ('APP_UPDATE.LATER' | translate)
	}"
/>
<ion-app>
	<ion-router-outlet />
</ion-app>
