<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" text="back" color="light"></ion-back-button>
    <ion-title color="light">Password Reset</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row class="ion-align-content-center ion-justify-content-center">
      <ion-col>
        <ion-card style="border-radius:8px;" color="white">
          <ion-card-header>
            <ion-title color="primary">
              Reset your password
            </ion-title>
            <ion-card-subtitle class="ion-padding">
              Enter your email address below and click the "Send Reset Email" button
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form *ngIf="form" [formGroup]="form" novalidate>
              <ion-list>
                <ion-item>
                  <ion-label position="stacked">Enter your email address</ion-label>
                  <ion-input formControlName="emailAddress"></ion-input>
                </ion-item>
              </ion-list>
              <div style="text-align: center;" class="ion-padding">
                <ion-button (click)="resetPassword()" color="success" [disabled]="!form.valid">
                  <ion-icon name="lock-open" slot="start"></ion-icon>
                  <ion-label>Send Reset Email</ion-label>
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
