.modal-md {
	--min-height: 70%;
	--min-width: 60%;
}

.modal-lg {
	--min-height: 90%;
	--min-width: 93%;
}

.border-radius-sm {
  border-radius: 4px;
}

.border-radius-md {
  border-radius: 8px;
}

.border-radius-lg {
  border-radius: 16px;
}

.padding-top-sm {
  padding-top:4px;
}

.padding-top-md {
  padding-top:8px;
}

.padding-top-lg {
  padding-top: 16px;
}

.no-padding-left {
  padding-left: 0px;
}

.padding-left-sm {
  padding-left: 4px;
}

.padding-left-md {
  padding-left: 8px;
}

.padding-left-lg {
  padding-left: 16px;
}

.padding-left-xl {
  padding-left: 24px;
}

.padding-right-sm {
  padding-right: 4px;
}

.padding-right-md {
  padding-right: 8px;
}

.padding-right-lg {
  padding-right: 16px;
}

.padding-bottom-xxl {
  padding-bottom: 32px;
}

.padding-bottom-md {
  padding-bottom:8px;
}

.padding-bottom-lg {
  padding-bottom:16px;
}

.padding-bottom-sm {
  padding-bottom:4px;
}

.padding-vertical-md {
  padding-top: 8px;
  padding-bottom: 8px;
}

.margin-top-lg {
  margin-top: 16px;
}

.margin-top-xl {
  margin-top: 24px;
}

.margin-top-xxl {
  margin-top: 32px;
}

.width-max {
  width: 100%;
}

.height-max {
  height: 100%;
}

.no-shadow {
  box-shadow: none !important;
  --webkit-box-shadow: none;
}
