<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" text="back"></ion-back-button>
    <ion-title>{{ 'FORGOTPASS.HEADER' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-label>{{ 'COMMON.CANCEL' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-content-center ion-justify-content-center">
      <ion-col>
        <ion-card style="border-radius:8px;" color="white">
          <ion-card-header>
            <ion-title color="primary">
              {{ 'FORGOTPASS.RESET_YOUR_PASSWORD' | translate }}
            </ion-title>
            <ion-card-subtitle class="ion-padding">
              {{ 'FORGOTPASS.INSTRUCTIONS' | translate }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form *ngIf="form" [formGroup]="form" novalidate>
              <ion-list>
                <ion-item>
                  <ion-label position="stacked">{{ 'COMMON.EMAIL_PH' | translate }}</ion-label>
                  <ion-input formControlName="emailAddress"></ion-input>
                </ion-item>
              </ion-list>
              <div style="text-align: center;" class="ion-padding">
                <ion-button (click)="resetPassword()" color="success" [disabled]="!form.valid">
                  <ion-icon name="lock-open" slot="start"></ion-icon>
                  <ion-label>{{ 'FORGOTPASS.SEND_RESET_EMAIL' | translate }}</ion-label>
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
