<ion-content color="light">
  <ion-button
    class="ion-no-padding even-ratio-button ion-margin"
    color="white"
    [routerLink]="['..']"
  >
    <ion-icon
      slot="icon-only"
      name="arrow-back-sharp"
      class="even-ratio-button"
    ></ion-icon>
  </ion-button>

  <ion-grid *ngIf="!(resetEmailSent$ | async); else resetEmailSent">
    <ion-row>
      <ion-col class="ion-text-center">
        <img
          src="assets/DSCS-Santa-Body_Red.png"
          class="logo"
          alt="logo with santa claus"
        />
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-content-center ion-justify-content-center">
      <ion-col size="auto" class="minimum-card">
        <ion-card>
          <ion-card-header>
            <ion-title color="dark">
              {{ 'FORGOTPASS.RESET_YOUR_PASSWORD' | translate }}
            </ion-title>
            <ion-card-subtitle class="ion-padding">
              {{ 'FORGOTPASS.INSTRUCTIONS' | translate }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <form *ngIf="form" [formGroup]="form" novalidate>
              <ion-list>
                <ion-item>
                  <ion-label color="xmasred">
                    {{ 'COMMON.EMAIL_ADDRESS' | translate }}
                  </ion-label>
                  <ion-input formControlName="emailAddress"></ion-input>
                </ion-item>
              </ion-list>

              <ng-container>
                <ion-item [disabled]="!form.valid" lines="none">
                  <re-captcha
                    class="ion-align-self-center ion-padding-vertical"
                    #captchaRef="reCaptcha"
                    (resolved)="$event && onValidateRecaptcha($event)"
                  ></re-captcha>
                </ion-item>
              </ng-container>
            </form>

            <ion-button
              [disabled]="!form.valid || !(recaptchaValid$ | async) || (resetEmailSent$ | async)"
              (click)="resetPassword()"
              color="xmasred"
            >
              {{ 'FORGOTPASS.RESET_PASSWORD' | translate }}
            </ion-button>

            <div class="ion-padding-vertical">
              {{ 'FORGOTPASS.REMEMBER_YOUR_PASSWORD' | translate }}
              <ion-text
                color="primary"
                button
                tappable
                [routerLink]="['./sign-in']"
              >
                {{ "COMMON.SIGN_IN" | translate }}
              </ion-text>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #resetEmailSent>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img
            src="assets/DSCS-Santa-Body_Red.png"
            class="logo"
            alt="logo with santa claus"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="minimum-card">
          <ion-card>
            <ion-card-header>
              <div class="email-sent">
                <ion-title color="white">
                  {{ 'FORGOTPASS.EMAIL_SENT' | translate }}
                </ion-title>
              </div>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <p>{{ 'FORGOTPASS.EMAIL_SENT_2' | translate }}</p>

              <p>{{ 'FORGOTPASS.EMAIL_SENT_3' | translate }}</p>

              <ion-button
                color="xmasred"
                expand="full"
                class="ion-padding-vertical es-mg-top-xl"
                [routerLink]="['/sign-in']"
              >
                {{ "COMMON.SIGN_IN" | translate }}
              </ion-button>

              <div class="ion-padding-top ion-text-center es-mg-top-xl">
                {{ 'FORGOTPASS.NO_EMAIL' | translate }}
                <br />
                <ion-button fill="clear" (click)="resetPage()">
                  {{ 'FORGOTPASS.RESET_PASSWORD_AGAIN' | translate }}
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
