<ion-content color="light">
  <app-internal-header class="ion-hide-xl-down"></app-internal-header>

  <ion-grid class="height-max es-mg-bottom-xxl">
    <ion-row class="height-max">
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <ion-col sizeXs="12" sizeSm="7">
            <ion-button
              class="ion-no-padding even-ratio-button ion-margin"
              color="white"
              [routerLink]="['..']"
            >
              <ion-icon
                slot="icon-only"
                name="arrow-back-sharp"
                class="even-ratio-button"
              ></ion-icon>
            </ion-button>

            <div class="full-width-alert ion-text-center">
              Please wear a face mask to ensure the safety of our Volunteers.
            </div>

            <div class="ion-padding es-mg-bottom-xxl">
              <ion-item class="inset-ion-item-title" color="none">
                <ion-card-title lines="full">
                  Event information
                </ion-card-title>
              </ion-item>

              <div class="ion-margin">

                <h2>December 10-14, 10am - 3pm</h2>

                <p>
                  Location:
                  <br />

                  <strong>
                    {{ "REGISTRATION.EVENT_ADDRESS1" | translate }} 
                    {{ "REGISTRATION.EVENT_ADDRESS2" | translate }}
                  </strong>

                  <br />
                  <br />

                  {{ "REGISTRATION.ENTRY_INSTRUCTIONS" | translate }}

                  
                </p>

                <h2> What to bring </h2>

                <p>
                  Our Toy Giving Event is a busy day. Help us get your toys as
                  quickly as possible by bringing the following things:
                </p>

                <ul>
                  <li>ID or Birth Certificate for every child.</li>
                  <li>The QR Code on the Home Page.</li>
                </ul>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
