<ion-content color="light">
	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col size="auto">
				<ion-card
					class="sign-up-card ion-text-center ion-padding-bottom remove-shadow no-shadow"
				>
					<ion-card-header class="ion-align-items-center">
						<ion-button
							class="remove-shadow go-back"
							color="light"
							[routerLink]="['..']"
						>
							<ion-icon
								slot="start"
								name="arrow-back-sharp"
							></ion-icon>
							<ion-label>
								{{ "COMMON.GO_BACK" | translate }}
							</ion-label>
						</ion-button>
						<img
							src="assets/DSCS-Santa-Body_Red.png"
							class="logo"
							alt="logo with santa claus"
						/>
						<ion-card-title>
							{{ "COMMON.SIGN_IN" | translate }}
						</ion-card-title>
					</ion-card-header>

					<ion-card-content>
						<form [formGroup]="form" novalidate>
							<ion-list lines="none">
								<ion-item>
									<ion-input
										[label]="'COMMON.EMAIL_ADDRESS' | translate"
										[errorText]="'COMMON.VALID_EMAIL' | translate"
										labelPlacement="floating"
										type="email"
										autocomplete="true"
										formControlName="emailAddress"
										[debounce]="500"
									/>
								</ion-item>
								<ion-item>
									<ion-input
										[label]="'COMMON.PASSWORD' | translate"
										[errorText]="'COMMON.VALID_PASSWORD' | translate"
										labelPlacement="floating"
										formControlName="password"
										[debounce]="500"
										type="password"
									/>
								</ion-item>
							</ion-list>
						</form>

						<ng-container>
							<ion-item [disabled]="!form.valid" lines="none">
								<re-captcha
									class="ion-align-self-center ion-padding-vertical"
									#captchaRef="reCaptcha"
									(resolved)="
										$event && onValidateRecaptcha($event)
									"
								></re-captcha>
							</ion-item>
						</ng-container>

						<ion-button
							size="large"
							color="xmasred"
							[disabled]="
								!form.valid || (recaptchaValid$ | async) === false
							"
							(click)="onSignIn()"
						>
							{{ "COMMON.SIGN_IN" | translate }}
						</ion-button>
					</ion-card-content>

					<div class="ion-text-center es-mg-top-lg">
						<ion-button
							fill="clear"
							color="tertiary"
							[routerLink]="['/sign-up']"
						>
							{{ "COMMON.CREATE_ACCOUNT" | translate }}
						</ion-button>
						<br />
						<ion-button
							fill="clear"
							color="tertiary"
							[routerLink]="['/reset-password']"
						>
							{{ "SIGNIN.FORGOT_PASSWORD" | translate }}
						</ion-button>
					</div>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
