<!-- TODO: Mobile -->
<ion-content>
  <ion-grid class="height-max img-div ion-no-padding ion-no-margin">
    <ion-row class="height-max ion-align-items-center">
      <!-- Information -->
      <ion-col sizeXs="12" sizeSm="10" offsetXs="0" offsetSm="1" offsetMd="2">
        <ion-card class="sign-up-card">
          <ion-card-header>
            <ion-card-title class="ion-card-title-lg">
              {{ 'SIGNIN.TITLE1' | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" novalidate>
              <ion-list>
                <ion-item>
                  <ion-label position="floating">
                    {{ 'COMMON.EMAIL_ADDRESS' | translate }}
                  </ion-label>
                  <ion-input
                    formControlName="emailAddress"
                    [debounce]="500"
                    type="email"
                    autocomplete="email"
                    inputmode="email"
                  ></ion-input>
                </ion-item>
                <app-control-errors
                  [control]="form.controls.emailAddress"
                ></app-control-errors>

                <ion-item>
                  <ion-label position="floating">
                    {{ 'COMMON.PASSWORD' | translate }}
                  </ion-label>
                  <ion-input
                    formControlName="password"
                    [debounce]="500"
                    type="password"
                    autocomplete="new-password"
                  ></ion-input>
                </ion-item>
                <app-control-errors
                  [control]="form.controls.password"
                ></app-control-errors>
              </ion-list>
            </form>
          </ion-card-content>
          <ion-card-content class="ion-text-center">
            <ion-button
              size="large"
              class="title-font"
              [disabled]="!form.valid"
              (click)="onSignIn()"
            >
              {{ 'COMMON.SIGN_IN' | translate }}
              <ion-icon
                slot="end"
                name="log-in-outline"
                class="es-mg-left-md"
              ></ion-icon>
            </ion-button>
          </ion-card-content>
          <p class="ion-text-center">
            <ion-button fill="clear" color="tertiary" [routerLink]="['/forgot-password']">
              {{ 'SIGNIN.FORGOT_PASSWORD' | translate }}
            </ion-button>
          </p>
        </ion-card>
        <ion-buttons class="sign-up-card ion-justify-content-center">
          <p>
            <ion-button [routerLink]="['/']" color="dark">
              <ion-icon
                name="arrow-back-circle-outline"
                slot="start"
              ></ion-icon>
              <ion-label>{{ 'COMMON.GO_BACK' | translate }}</ion-label>
            </ion-button>
          </p>
        </ion-buttons>
        <ion-buttons class="sign-up-card ion-justify-content-center">
          <p>
            <ion-button fill="clear" color="dark">
              {{ 'COMMON.PRIVACY_POLICY' | translate }}
            </ion-button>
            <ion-button fill="clear" color="dark">
              {{ 'COMMON.TERMS_AND_CONDITIONS' | translate }}
            </ion-button>
          </p>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
