<ion-content
	class="ion-padding-horizontal"
	style="padding-bottom: 60px"
	fullscreen
>
	<h1>{{ "TOS.TITLE" | translate }}</h1>
	<h3>{{ "TOS.1" | translate }}</h3>
	<p>
		{{ "TOS.1A" | translate }}
	</p>
	<h3>{{ "TOS.2" | translate }}</h3>
	<p>{{ "TOS.2A" | translate }}</p>
	<p>
		{{ "TOS.2B" | translate }}
	</p>
	<h3>{{ "TOS.3" | translate }}</h3>
	<ol type="a">
		<li>
			{{ "TOS.3A" | translate }}
		</li>
		<li>
			{{ "TOS.3B" | translate }}
		</li>
	</ol>
	<h3>{{ "TOS.4" | translate }}</h3>
	<p>
		{{ "TOS.4A" | translate }}
	</p>
	<h3>{{ "TOS.5" | translate }}</h3>
	<p>
		{{ "TOS.5A" | translate }}
	</p>
	<h3>{{ "TOS.6" | translate }}</h3>
	<p>
		{{ "TOS.6A" | translate }}
	</p>
	<h3>{{ "TOS.7" | translate }}</h3>
	<p>
		{{ "TOS.7A" | translate }}
	</p>
	<h3>{{ "TOS.8" | translate }}</h3>
	<p>
		{{ "TOS.8A" | translate }}
	</p>
</ion-content>

<ion-footer>
	<ion-toolbar color="primary" class="ion-align-items-center">
		<ion-button (click)="onDismiss()" expand="full" fill="clear">
			<ion-icon slot="start" name="close-circle" color="light"></ion-icon>
			<ion-label color="light">{{
				"COMMON.CLOSE" | translate
			}}</ion-label>
		</ion-button>
	</ion-toolbar>
</ion-footer>
