<ion-content class="ion-padding">
  <ion-button
    class="ion-no-padding even-ratio-button remove-shadow"
    color="white"
    [routerLink]="['..']"
  >
    <ion-icon
      slot="icon-only"
      name="arrow-back-sharp"
      class="even-ratio-button"
    ></ion-icon>
  </ion-button>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col sixeXs="0" size="3">
        <ion-list-header>
          Menu
        </ion-list-header>
        <ion-list>
          <ion-item>
            Home
          </ion-item>
          <ion-item>
            Account
          </ion-item>
          <ion-item>
            Something else
          </ion-item>
        </ion-list>

      </ion-col>

      <ion-col size="9">
        <ion-item class="inset-ion-item-title" color="none">
          <ion-card-title lines="full"> Your Information </ion-card-title>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
