<ion-content color="light">
	<app-internal-header></app-internal-header>

	<ion-grid class="height-max ion-no-padding es-mg-bottom-xxl">
		<ion-row class="height-max">
			<ion-col
				class="side-menu height-max ion-hide-xl-down ion-no-padding ion-no-margin ion-float-start"
				size="auto"
				*ngIf="(isRegistrationComplete$ | async) === false"
			>
				<app-pre-registration-menu></app-pre-registration-menu>
			</ion-col>
			<ion-col
				sizeXl="9"
				sizeLg="12"
				sizeMd="12"
				sizeSm="12"
				sizeXs="12"
				size="12"
			>
				<ion-row class="ion-justify-content-center">
					<ion-col
						sizeXs="12"
						sizeSm="7"
						*ngIf="userProfile$ | async as user"
					>
						<ion-button
							class="ion-no-padding even-ratio-button ion-margin"
							color="white"
							[routerLink]="['../overview']"
						>
							<ion-icon
								slot="icon-only"
								name="arrow-back-sharp"
								class="even-ratio-button"
							></ion-icon>
						</ion-button>

						<div class="ion-padding es-mg-bottom-xxl">
							<ion-item class="inset-ion-item-title" color="none">
								<ion-card-title lines="full">
									{{ "COMMON.MY_ACCOUNT" | translate }}
								</ion-card-title>
							</ion-item>

							<ion-card class="ion-margin-top">
								<ion-card-content>
									<ion-button
										fill="clear"
										class="ion-float-end"
										[routerLink]="['change-info']"
									>
										<ion-icon
											name="create-outline"
											color="dark"
										></ion-icon>
									</ion-button>

									<ion-list lines="none">
										<ion-item class="locked-item">
											<ion-label color="xmasred">
												{{ "SIGNUP.FIRST_NAME" |
												translate }}
											</ion-label>
											<ion-input
												[value]="user.firstName"
												disabled
											></ion-input>
										</ion-item>
										<core-control-errors
											[control]="
												profileForm.controls.firstName
											"
										></core-control-errors>

										<ion-item class="locked-item">
											<ion-label color="xmasred">
												{{ "SIGNUP.LAST_NAME" |
												translate }}
											</ion-label>
											<ion-input
												[value]="user.lastName"
												disabled
											></ion-input>
										</ion-item>
										<core-control-errors
											[control]="
												profileForm.controls.lastName
											"
										></core-control-errors>

										<ion-item class="locked-item">
											<ion-label color="xmasred">
												{{ "SIGNUP.ZIP_CODE" | translate
												}}
											</ion-label>
											<ion-input
												[value]="user.zipCode"
												disabled
											></ion-input>
										</ion-item>
										<core-control-errors
											[control]="
												profileForm.controls.zipCode
											"
										></core-control-errors>
									</ion-list>
								</ion-card-content>
							</ion-card>

							<ion-card class="ion-margin-top">
								<ion-card-content>
									<ion-button
										fill="clear"
										class="ion-float-end"
										[routerLink]="['change-email']"
									>
										<ion-icon
											name="create-outline"
											color="dark"
										></ion-icon>
									</ion-button>

									<ion-list lines="none">
										<ion-item class="locked-item">
											<ion-label color="xmasred">
												{{ "COMMON.EMAIL_ADDRESS" |
												translate }}
											</ion-label>
											<ion-input
												[value]="user.emailAddress"
												disabled
											></ion-input>
										</ion-item>
									</ion-list>
								</ion-card-content>
							</ion-card>

							<ion-card class="ion-margin-top">
								<ion-card-content>
									<ion-button
										fill="clear"
										class="ion-float-end"
										[routerLink]="['change-password']"
									>
										<ion-icon
											name="create-outline"
											color="dark"
										></ion-icon>
									</ion-button>

									<ion-list lines="none">
										<ion-item class="locked-item">
											<ion-label color="xmasred">
												{{ "COMMON.PASSWORD" | translate
												}}
											</ion-label>
											<ion-input
												[value]="user.emailAddress"
												type="password"
												disabled
											></ion-input>
										</ion-item>
									</ion-list>
								</ion-card-content>
							</ion-card>

							<ion-button
								color="xmasred"
								[routerLink]="['../overview']"
								class="ion-float-end ion-margin-top es-mg-bottom-xxl"
							>
								{{ "COMMON.DONE" | translate }}
							</ion-button>
						</div>

						<ion-card class="ion-margin-horizontal"> </ion-card>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
