<ion-content color="light" class="profile-page">
	<ion-grid class="account-grid profile-shell">
		<ion-row class="ion-justify-content-center">
			<ion-col class="profile-column" size="12" sizeMd="9" sizeLg="7">
				<ion-button class="ion-no-padding even-ratio-button ion-margin" color="white" aria-label="Back to registration" [routerLink]="['../overview']">
					<ion-icon slot="icon-only" name="arrow-back-sharp" />
				</ion-button>

				<h1>{{ 'COMMON.MY_ACCOUNT' | translate }}</h1>
				<p>{{ 'PROFILE.SETTINGS_INTRO' | translate }}</p>

				@if (userProfile$ | async; as user) {
				<details class="settings-panel" open>
					<summary>
						<span>{{ 'PROFILE.CHANGE_INFO' | translate }}</span>
						<small>{{ user.firstName }} {{ user.lastName }} · {{ user.zipCode }}</small>
					</summary>
					<form [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate>
						<ion-list lines="none">
							<ion-item><ion-input fill="outline" [label]="'SIGNUP.FIRST_NAME' | translate" labelPlacement="floating" formControlName="firstName" autocomplete="given-name" [errorText]="profileForm.controls.firstName | niceFormError | translate" /></ion-item>
							<ion-item><ion-input fill="outline" [label]="'SIGNUP.LAST_NAME' | translate" labelPlacement="floating" formControlName="lastName" autocomplete="family-name" [errorText]="profileForm.controls.lastName | niceFormError | translate" /></ion-item>
							<ion-item><ion-input fill="outline" [label]="'SIGNUP.ZIP_CODE' | translate" labelPlacement="floating" formControlName="zipCode" type="text" inputmode="numeric" autocomplete="postal-code" maxlength="5" [errorText]="profileForm.controls.zipCode | niceFormError | translate" /></ion-item>
						</ion-list>
						<ion-button type="submit" color="xmasred" [disabled]="profileForm.invalid">{{ 'PROFILE.SAVE_CHANGES' | translate }}</ion-button>
					</form>
				</details>

				<details class="settings-panel">
					<summary>
						<span>{{ 'PROFILE.CHANGE_EMAIL' | translate }}</span>
						<small>{{ user.emailAddress }}</small>
					</summary>
					<form [formGroup]="changeEmailForm" (ngSubmit)="changeEmailAddress()" novalidate>
						<ion-list lines="none">
							<ion-item><ion-input fill="outline" [label]="'COMMON.NEW_EMAIL_ADDRESS' | translate" labelPlacement="floating" formControlName="emailAddress" type="email" autocomplete="email" [errorText]="changeEmailForm.controls.emailAddress | niceFormError | translate" /></ion-item>
							<ion-item><ion-input fill="outline" [label]="'COMMON.PASSWORD' | translate" labelPlacement="floating" formControlName="password" type="password" autocomplete="current-password" [errorText]="changeEmailForm.controls.password | niceFormError | translate" /></ion-item>
						</ion-list>
						<ion-button type="submit" color="xmasred" [disabled]="changeEmailForm.invalid">{{ 'PROFILE.SAVE_CHANGES' | translate }}</ion-button>
					</form>
				</details>

				<details class="settings-panel">
					<summary><span>{{ 'PROFILE.CHANGE_PASSWORD' | translate }}</span></summary>
					<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
						<ion-list lines="none">
							<ion-item><ion-input fill="outline" [label]="'PROFILE.CURRENT_PASSWORD' | translate" labelPlacement="floating" formControlName="oldPassword" type="password" autocomplete="current-password" [errorText]="changePasswordForm.controls.oldPassword | niceFormError | translate" /></ion-item>
							<ion-item><ion-input fill="outline" [label]="'PROFILE.NEW_PASSWORD' | translate" labelPlacement="floating" formControlName="newPassword" type="password" autocomplete="new-password" [errorText]="changePasswordForm.controls.newPassword | niceFormError | translate" /></ion-item>
							<ion-item><ion-input fill="outline" [label]="'PROFILE.RE-ENTER_NEW_PASSWORD' | translate" labelPlacement="floating" formControlName="newPassword2" type="password" autocomplete="new-password" [errorText]="changePasswordForm.controls.newPassword2 | niceFormError | translate" /></ion-item>
						</ion-list>
						<ion-button type="submit" color="xmasred" [disabled]="changePasswordForm.invalid">{{ 'PROFILE.SAVE_CHANGES' | translate }}</ion-button>
					</form>
				</details>
				}
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
