<admin-header
	title="{{ 'Check-in complete' | adminText }}"
	backRoute="/admin/checkin/scan"
/>

<ion-content class="ion-padding-horizontal ion-text-center">
	<div class="confirmation-receipt" role="status">
		@if (checkin(); as checkin) {
		<h1>
			<ion-text color="success"> {{ 'Success!' | adminText }} </ion-text>
		</h1>
		<div class="ticket-count">{{ checkin?.count ?? 0 }}</div>
		<h2>
			{{ 'Give the shopper {{v0}} {{ v1 }}.' | adminText: {v0:
			(checkin?.count ?? 0), v1: ((checkin?.count === 1 ? 'coupon' :
			'coupons') | adminText)} }}
		</h2>
		<p class="registration-code">{{ checkin.code }}</p>
		<p class="coupon-note">{{ '1 coupon per child' | adminText }}</p>
		<ion-button routerLink="../scan">
			{{ 'Next shopper' | adminText }}
		</ion-button>
		} @else {
		<h1>
			<ion-text color="danger"> {{ 'Error' | adminText }} </ion-text>
		</h1>
		<h2>{{ 'No check in record' | adminText }}</h2>
		}
	</div>
</ion-content>
