<ion-content color="xmasred">
  <ion-header class="ion-no-border ion-padding-bottom">
    <ion-toolbar color="xmasred">
      <ion-grid class="ion-no-padding ion-padding-top">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <img src="../../assets/santaclausshop.jpg" alt="santa claus shop icon" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <form [formGroup]="form" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-text color="primary">
                    <h4 class="ion-margin-horizontal">{{ 'SIGNUP_INFO.HEADER' | translate }}</h4>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-col size-md size="12" style="max-width: 400px;">
                  <ion-item *appLet="'firstName' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> {{ 'SIGNUP_INFO.FIRST_NAME' | translate }} </ion-label>
                    <ion-input
                      [placeholder]="'SIGNUP_INFO.FIRST_NAME_PH' | translate"
                      [formControlName]="controlName"
                      debounce="750"
                      #firstNameField
                    ></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>

                  <ion-item *appLet="'lastName' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> {{ 'SIGNUP_INFO.LAST_NAME' | translate }} </ion-label>
                    <ion-input [placeholder]="'SIGNUP_INFO.LAST_NAME_PH' | translate" [formControlName]="controlName" debounce="750"></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>

                  <ion-item *appLet="'zipCode' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> {{ 'SIGNUP_INFO.ZIP_CODE' | translate }} </ion-label>
                    <ion-input placeholder="#####" [formControlName]="controlName" debounce="750"></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>
                </ion-col>
                <ion-col
                  size="12"
                  class="ion-align-items-center ion-justify-content-center ion-text-center ion-padding-top ion-padding-bottom"
                >
                  <ion-button size="large" color="success" [disabled]="!form.valid || ($loading | async)" (click)="initializeAccount()">
                    <ion-icon name="arrow-forward-circle" slot="end"></ion-icon>
                    <ion-label>{{ 'SIGNUP_INFO.NEXT_STEP' | translate }}</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card>
        <ion-toolbar color="xmasred" class="ion-padding-bottom">
          <ion-buttons class="ion-justify-content-center">
            <ion-button [routerLink]="['/']">
              <ion-icon name="arrow-back-circle-outline" slot="start"></ion-icon>
              <ion-label>{{ 'COMMON.GO_BACK' | translate }}</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
