<ion-content
	class="ion-padding-horizontal"
	style="padding-bottom: 60px"
	fullscreen
>
	<h1>{{ 'PRIVACY.PRIVACY_&_COOKIES' | translate }}</h1>
	<h3>{{ 'PRIVACY.TITLE' | translate }}</h3>
	<p>
		{{ 'PRIVACY.1' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.2' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.3' | translate }}
	</p>
	<p>{{ 'PRIVACY.4' | translate }}</p>
	<p>
		{{ 'PRIVACY.5' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.6' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.7' | translate }}
	</p>
	<p></p>

	<h3>{{ 'PRIVACY.8' | translate }}</h3>

	<p>{{ 'PRIVACY.9' | translate }}</p>

	<p>
		<strong>{{ 'PRIVACY.10' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.11' | translate }}
	</p>

	<p>{{ 'PRIVACY.12' | translate }}</p>

	<p>
		<strong>{{ 'PRIVACY.13' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.14' | translate }}
	</p>

	<p>
		<strong>{{ 'PRIVACY.15' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.16' | translate }}
	</p>

	<p>
		<strong>{{ 'PRIVACY.17' | translate }}</strong>
	</p>

	<ul>
		<li>
			<p>{{ 'PRIVACY.18' | translate }}</p>
			<p>
				{{ 'PRIVACY.19' | translate }}
			</p>
		</li>

		<li>
			<p>{{ 'PRIVACY.20' | translate }}</p>
			<p>
				{{ 'PRIVACY.21' | translate }}
			</p>
		</li>

		<li>
			<p>{{ 'PRIVACY.22' | translate }}</p>
			<p>
				{{ 'PRIVACY.22_1' | translate }}
			</p>
		</li>
	</ul>

	<p>
		<strong>{{ 'PRIVACY.23' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.24' | translate }}
	</p>

	<ul>
		<li>
			<p>
				{{ 'PRIVACY.25' | translate }}
			</p>
			<p>{{ 'PRIVACY.26' | translate }}</p>
		</li>

		<li>
			<p>
				{{ 'PRIVACY.27' | translate }}
			</p>
		</li>
	</ul>

	<p>
		<strong>{{ 'PRIVACY.28' | translate }}</strong>
	</p>

	<p>{{ 'PRIVACY.29' | translate }}</p>

	<ul>
		<li>{{ 'PRIVACY.30' | translate }}</li>
	</ul>

	<p>{{ 'PRIVACY.31' | translate }}</p>
</ion-content>

<ion-footer>
	<ion-toolbar color="primary" class="ion-align-items-center">
		<ion-button (click)="onDismiss()" expand="full" fill="clear">
			<ion-icon slot="start" name="close-circle" color="light"></ion-icon>
			<ion-label color="light">{{
				'COMMON.CLOSE' | translate
			}}</ion-label>
		</ion-button>
	</ion-toolbar>
</ion-footer>
