<ion-header>
	<ion-toolbar color="primary">
		<ion-title>{{ 'SIGNUP.LEGAL4' | translate }}</ion-title>
		<ion-buttons slot="end">
			<ion-button
				id="closePrivacyPolicyButton"
				(click)="onDismiss()"
				[attr.aria-label]="'COMMON.CLOSE' | translate"
			>
				<ion-icon slot="icon-only" name="close-circle" aria-hidden="true" />
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
	<h3>{{ 'PRIVACY.TITLE' | translate }}</h3>
	<p>
		{{ 'PRIVACY.1' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.2' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.3' | translate }}
	</p>
	<p>{{ 'PRIVACY.4' | translate }}</p>
	<p>
		{{ 'PRIVACY.5' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.6' | translate }}
	</p>
	<p>
		{{ 'PRIVACY.7' | translate }}
	</p>
	<p></p>

	<h3>{{ 'PRIVACY.8' | translate }}</h3>

	<p>{{ 'PRIVACY.9' | translate }}</p>

	<p>
		<strong>{{ 'PRIVACY.10' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.11' | translate }}
	</p>

	<p>{{ 'PRIVACY.12' | translate }}</p>

	<p>
		<strong>{{ 'PRIVACY.13' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.14' | translate }}
	</p>

	<p>
		<strong>{{ 'PRIVACY.15' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.16' | translate }}
	</p>

	<p>
		<strong>{{ 'PRIVACY.17' | translate }}</strong>
	</p>

	<ul>
		<li>
			<p>{{ 'PRIVACY.18' | translate }}</p>
			<p>
				{{ 'PRIVACY.19' | translate }}
			</p>
		</li>

		<li>
			<p>{{ 'PRIVACY.20' | translate }}</p>
			<p>
				{{ 'PRIVACY.21' | translate }}
			</p>
		</li>

		<li>
			<p>{{ 'PRIVACY.22' | translate }}</p>
			<p>
				{{ 'PRIVACY.22_1' | translate }}
			</p>
		</li>
	</ul>

	<p>
		<strong>{{ 'PRIVACY.23' | translate }}</strong>
	</p>

	<p>
		{{ 'PRIVACY.24' | translate }}
	</p>

	<ul>
		<li>
			<p>
				{{ 'PRIVACY.25' | translate }}
			</p>
			<p>{{ 'PRIVACY.26' | translate }}</p>
		</li>

		<li>
			<p>
				{{ 'PRIVACY.27' | translate }}
			</p>
		</li>
	</ul>

	<p>
		<strong>{{ 'PRIVACY.28' | translate }}</strong>
	</p>

	<p>{{ 'PRIVACY.29' | translate }}</p>

	<ul>
		<li>{{ 'PRIVACY.30' | translate }}</li>
	</ul>

	<p>{{ 'PRIVACY.31' | translate }}</p>
</ion-content>
