<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-grid class="height-max padding-top-lg">
      <ion-row
        class="height-max ion-align-items-center ion-justify-content-center"
      >
        <ion-col sizeXl="4" sizeLg="5" sizeMd="6" sizeSm="8" sizeXs="12">
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title> Sign in </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked" class="ion-padding-bottom">
                  Email Address
                </ion-label>
                <ion-input
                  formControlName="emailAddress"
                  type="email"
                  (keyup.enter)="login()"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="ion-padding-bottom">
                  Password
                </ion-label>
                <ion-input
                  formControlName="password"
                  type="password"
                  (keyup.enter)="login()"
                ></ion-input>
              </ion-item>

              <ion-col
                size="12"
                class="ion-align-items-center ion-justify-content-center"
              >
                <ion-button
                  class="ion-align-self-center login-buttons ion-margin-bottom"
                  [disabled]="!form.valid"
                  (click)="login()"
                  size="large"
                >
                  <ion-icon name="lock-open" slot="start"></ion-icon>
                  <ion-label> Sign in </ion-label>
                </ion-button>
              </ion-col>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
