<ion-content color="xmasred">
  <ion-header class="ion-no-border ion-padding-bottom">
    <ion-toolbar color="xmasred">
      <ion-grid class="ion-no-padding ion-padding-top">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <img src="../../assets/santaclausshop.jpg" alt="santa claus shop icon" />
          </ion-col>
          <ion-col size="12">
            <ion-title class="ion-text-center"> Santa Claus Shop Registration </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <form [formGroup]="form" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text color="primary">
                    <h4 class="ion-margin-horizontal">
                      Create your account by filling out the information below
                    </h4>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item *appLet="'firstName' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> First Name </ion-label>
                    <ion-input
                      placeholder="Enter your first name"
                      [formControlName]="controlName"
                      debounce="750"
                      #firstNameField
                    ></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>

                  <ion-item *appLet="'lastName' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> Last Name </ion-label>
                    <ion-input placeholder="Enter your last name" [formControlName]="controlName" debounce="750"></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>

                  <ion-item *appLet="'zipCode' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> Zip Code </ion-label>
                    <ion-input placeholder="#####" [formControlName]="controlName" debounce="750"></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>

                  <ion-item *appLet="'emailAddress' as controlName">
                    <ion-label position="stacked" class="ion-padding-bottom"> Email Address </ion-label>
                    <ion-input placeholder="example@gmail.com" [formControlName]="controlName" debounce="750"></ion-input>
                    <p
                      *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                      class="ion-no-padding ion-no-margin padding-bottom-sm"
                    >
                      <span *ngFor="let message of formValidationMessages[controlName]">
                        <span *ngIf="form.controls[controlName].hasError(message.type)">
                          <ion-note color="danger">{{ message.message }}</ion-note>
                        </span>
                      </span>
                    </p>
                  </ion-item>

                  <span *appLet="$showPassword | async as showPassword">
                    <ion-item *appLet="'password' as controlName">
                      <ion-label position="stacked" class="ion-padding-bottom"> Create Password </ion-label>
                      <ion-input
                        placeholder="At least 8 characters"
                        [formControlName]="controlName"
                        [type]="showPassword ? 'text' : 'password'"
                        debounce="750"
                      ></ion-input>
                      <p
                        *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                        class="ion-no-padding ion-no-margin padding-bottom-sm"
                      >
                        <span *ngFor="let message of formValidationMessages[controlName]">
                          <span *ngIf="form.controls[controlName].hasError(message.type)">
                            <ion-note color="danger">{{ message.message }}</ion-note>
                          </span>
                        </span>
                      </p>
                    </ion-item>
                  </span>

                  <div button tappable (click)="togglePassword()" *appLet="$showPassword | async as showPassword" class="padding-top-md ion-text-center">
                    <ion-text color="primary" class="ion-text-center">
                        (Click to {{showPassword ? 'hide' : 'show'}} password)
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-toolbar>
                    <ion-buttons class="ion-justify-content-center">
                      <ion-button color="primary" (click)="terms()">Terms & Conditions</ion-button>
                      <ion-button color="primary" (click)="privacy()">Privacy Policy</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <span> </span>
                  <ion-item lines="none">
                    <ion-checkbox slot="start" formControlName="termsConditions"></ion-checkbox>
                    <p class="ion-no-margin ion-no-padding">
                      <ion-label>I agree to the terms and conditions</ion-label>
                      <ion-note color="danger" *ngIf="!form.controls['termsConditions'].value">This is required</ion-note>
                    </p>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-checkbox slot="start" formControlName="privacyPolicy"></ion-checkbox>
                    <p class="ion-no-margin ion-no-padding">
                      <ion-label>I have read the privacy policy</ion-label>
                      <ion-note color="danger" *ngIf="!form.controls['privacyPolicy'].value">This is required</ion-note>
                    </p>
                  </ion-item>
                </ion-col>
                <ion-col size="12" class="ion-align-items-center ion-justify-content-center ion-text-center ion-padding-top ion-padding-bottom">
                  <ion-button size="large" color="success" [disabled]="!form.valid || ($loading | async)" (click)="createAccount()">
                    <ion-icon name="person-add" slot="end"></ion-icon>
                    <ion-label>Create Account</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card>
        <ion-toolbar color="xmasred" class="ion-padding-bottom">
          <ion-buttons class="ion-justify-content-center">
            <ion-button [routerLink]="['/']">
              <ion-icon name="arrow-back-circle-outline" slot="start"></ion-icon>
              <ion-label>Go Back</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>