.small-padding {
	--padding-start: 8px;
	--padding-end: 8px;
}

.skeleton-datetime {
	line-height: 22px;
	width: 240px;
	--border-radius: 20px;
}

.skeleton-schedule {
	line-height: 22px;
	width: 200px;
	--border-radius: 20px;
}

.inset-list {
	ion-item {
		--inner-padding-start: 12px;
	}
}
