<ion-content color="light">
  <app-internal-header class="ion-hide-xl-down"></app-internal-header>

  <ion-grid class="height-max ion-no-padding es-mg-bottom-xxl">
    <ion-row class="height-max">
      <ion-col
        class="
          side-menu
          height-max
          ion-hide-xl-down ion-no-padding ion-no-margin
        "
        size="auto"
      >
        <app-pre-registration-menu></app-pre-registration-menu>
      </ion-col>
      <ion-col
        sizeXl="9"
        sizeLg="12"
        sizeMd="12"
        sizeSm="12"
        sizeXs="12"
        size="12"
      >
        <ion-row class="ion-justify-content-center">
          <ion-col sizeXs="12" sizeSm="7">
            <ion-button
              class="ion-no-padding even-ratio-button ion-margin"
              color="white"
              [routerLink]="['../overview']"
            >
              <ion-icon
                slot="icon-only"
                name="arrow-back-sharp"
                class="even-ratio-button"
              ></ion-icon>
            </ion-button>

            <div class="ion-padding es-mg-bottom-xxl">
              <ion-item class="inset-ion-item-title" color="none">
                <ion-card-title lines="full">
                  {{ 'MENU.SCHEDULE' | translate }}
                </ion-card-title>
              </ion-item>

              <div class="ion-padding">
                <p>{{ 'SCHEDULE.CHOOSE_DATE_TIME' | translate }}</p>
              </div>

              <ion-card>
                <ion-card-header>
                  <ion-card-title color="xmasred">
                    {{ 'SCHEDULE.YOUR_DATE/TIME' | translate }}
                  </ion-card-title>
                </ion-card-header>

                <ion-card-content class="ion-text-center">
                  <p class="ion-padding" *ngIf="!(chosenSlot$ | async)">
                    <ion-title>
                      {{ 'SCHEDULE.NO_TIME_SELECTED.' | translate }}
                    </ion-title>
                    <ion-label>
                      {{ 'SCHEDULE.ADD_ONE_BELOW.' | translate }}
                    </ion-label>
                  </p>

                  <ion-item lines="none" *ngIf="chosenSlot$ | async as slot">
                    {{ slot.dateTime | date:'MMMM d, h:mm a' }}
                    <ion-button
                      slot="end"
                      (click)="selectDateTime()"
                      fill="clear"
                    >
                      {{ 'COMMON.CANCEL' | translate }}
                    </ion-button>
                  </ion-item>
                </ion-card-content>
              </ion-card>

              <ng-container *ngIf="chosenSlot$ | async">
                <div class="on-time-note ion-text-center">
                  <ion-text color="dark">
                    <strong> {{ 'SCHEDULE.ON_TIME' | translate }} </strong>
                  </ion-text>
                </div>
              </ng-container>

              <ng-container *ngIf="!(chosenSlot$ | async)">
                <ion-list-header color="light" class="ion-padding-top">
                  <ion-title class="ion-no-padding">
                    {{ 'SCHEDULE.AVAILABLE_DATES/TIMES' | translate }}
                  </ion-title>
                </ion-list-header>

                <ion-accordion-group
                  color="light"
                  class="es-pd-left-xl es-pd-right-xl"
                >
                  <ion-accordion *ngFor="let day of availableDays$ | async">
                    <ion-item slot="header" color="light">
                      <ion-label> {{ day | date:'EEEE, MMMM d'}} </ion-label>
                    </ion-item>
                    <ion-list
                      slot="content"
                      color="light"
                      class="ion-no-padding es-pd-left-xxl"
                    >
                      <ion-item
                        *ngFor="let slot of (availableSlotsByDay$(day) | async)"
                        color="light"
                      >
                        <ion-label
                          >{{ slot.dateTime | date:'h:mm a' }}</ion-label
                        >
                        <ion-button
                          slot="end"
                          (click)="selectDateTime(slot)"
                          size="default"
                          class="small-padding"
                        >
                          {{ 'COMMON.SELECT' | translate }}
                        </ion-button>
                      </ion-item>
                    </ion-list>
                  </ion-accordion>
                </ion-accordion-group>
              </ng-container>

              <ion-button
                color="xmasred"
                [routerLink]="['../overview']"
                class="ion-float-end es-mg-top-xxl es-mg-bottom-xxl"
              >
                {{ 'COMMON.DONE' | translate }}
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
