<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      {{ (checkInService.$registration | async)?.fullName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed *ngIf="checkInService.$registration | async as registration">
    <ion-row>
      <ion-col class="ion-text-center small-title">
        Children: {{ registration?.children.length }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm size="12" *ngFor="let child of registration?.children">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-start ion-text-capitalize big-bold-text">
                <ion-text color="dark"> {{ child.t }} </ion-text>
              </ion-col>
              <ion-col class="ion-text-end ion-text-capitalize big-bold-text">
                <ion-text color="dark"> {{ child.a }} </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-capitalize medium-text">
                {{ child.n }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->