<ion-content>
  <ion-content color="xmasred">
    <ion-header class="ion-no-border ion-padding-bottom">
      <ion-toolbar color="xmasred">
        <ion-grid class="ion-no-padding ion-padding-top">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <img src="../../assets/santaclausshop.jpg" alt="santa claus shop icon" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-card>
            <form [formGroup]="form">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                      <ion-text color="primary">
                        <h4 class="ion-margin-horizontal">{{ 'SIGNUP_ACCOUNT.HEADER' | translate }}</h4>
                      </ion-text>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                  <ion-col size-md size="12" style="max-width: 400px;">
                    <ion-item *appLet="'emailAddress' as controlName">
                      <ion-label position="stacked" class="ion-padding-bottom"> {{ 'SIGNUP_ACCOUNT.EMAIL_ADDRESS' | translate }} </ion-label>
                      <ion-input
                        [placeholder]="'SIGNUP_ACCOUNT.EMAIL_EXAMPLE' | translate"
                        [formControlName]="controlName"
                        debounce="750"
                      ></ion-input>
                      <p
                        *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                        class="ion-no-padding ion-no-margin padding-bottom-sm"
                      >
                        <span *ngFor="let message of formValidationMessages[controlName]">
                          <span *ngIf="form.controls[controlName].hasError(message.type)">
                            <ion-note color="danger">{{ message.message }}</ion-note>
                          </span>
                        </span>
                      </p>
                    </ion-item>

                    <span *appLet="$showPassword | async as showPassword">
                      <ion-item *appLet="'password' as controlName">
                        <ion-label position="stacked" class="ion-padding-bottom"> {{ 'SIGNUP_ACCOUNT.CREATE_PASSWORD' | translate }} </ion-label>
                        <ion-input
                          [placeholder]="'SIGNUP_ACCOUNT.CREATE_PASSWORD_PH' | translate"
                          [formControlName]="controlName"
                          [type]="showPassword ? 'text' : 'password'"
                          debounce="750"
                        ></ion-input>
                        <p
                          *ngIf="form.controls[controlName].dirty && form.controls[controlName].invalid"
                          class="ion-no-padding ion-no-margin padding-bottom-sm"
                        >
                          <span *ngFor="let message of formValidationMessages[controlName]">
                            <span *ngIf="form.controls[controlName].hasError(message.type)">
                              <ion-note color="danger">{{ message.message }}</ion-note>
                            </span>
                          </span>
                        </p>
                      </ion-item>
                    </span>

                    <div
                      button
                      tappable
                      (click)="togglePassword()"
                      *appLet="$showPassword | async as showPassword"
                      class="padding-top-md ion-text-center ion-padding-bottom"
                    >
                      <ion-text color="primary" class="ion-text-center">
                        {{ showPassword ? ('SIGNUP.HIDE_PASSWORD' | translate) : ('SIGNUP.SHOW_PASSWORD' | translate) }}
                      </ion-text>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-center">
                    {{ 'SIGNUP_ACCOUNT.LEGAL_AGREEMENT' | translate }}
                  </ion-col>
                </ion-row>

                <ion-row class="ion-padding-bottom">
                  <ion-col
                    size="12"
                    class="ion-align-items-center ion-justify-content-center ion-text-center ion-padding-top ion-padding-bottom"
                  >
                    <ion-button size="large" color="success" [disabled]="!form.valid || ($loading | async)" (click)="createAccount()">
                      <ion-icon name="person-add" slot="end"></ion-icon>
                      <ion-label>{{ 'COMMON.CREATE_ACCOUNT' | translate }}</ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content></ion-content
>
