<ion-header color="none" class="ion-no-border">
  <ion-toolbar color="none">
    <ion-item lines="none" color="none">
      <img
        src="assets/DSCS-Santa-Body_Red.png"
        class="logo"
        alt="logo with santa claus"
      />
      <ion-card-title *ngIf="userRegistration$ | async as registration">
        <strong>Welcome, {{ registration.firstName }} {{ registration.lastName }}</strong>
      </ion-card-title>
    </ion-item>
    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="menu-sharp" color="dark" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
        <ion-card routerLink="#" tappable>
          <ion-card-header>
            <ion-item>
              <ion-card-title lines="full"> Children </ion-card-title>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <p *ngIf="(childCount$ | async) === 0">
              <strong> No Children. </strong>
              <br />
              Add all Children, then Select a Time.
            </p>
            <p class="ion-text-end es-pd-top-sm">
              <ion-button color="xmasred"> Add Child </ion-button>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
        <ion-card routerLink="#" tappable>
          <ion-card-header>
            <ion-item>
              <ion-card-title lines="full"> Schedule </ion-card-title>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <p *ngIf="(childCount$ | async) === 0">
              <strong> No Time Selected. </strong>
              <br />
              After you Add Children, Select a Time.
            </p>
            <p class="ion-text-end es-pd-top-sm">
              <ion-button color="xmasred"> Select Time </ion-button>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
        <ion-card routerLink="#" tappable>
          <ion-card-header>
            <ion-item>
              <ion-card-title lines="full"> Submit </ion-card-title>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <p *ngIf="(childCount$ | async) === 0">
              <strong> Not Submitted. </strong>
              <br />
              After you Add Children and Select a Time, Submit to get your QR
              Code for the Event.
            </p>
            <p class="ion-text-end es-pd-top-sm">
              <ion-button color="xmasred"> Submit </ion-button>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
