.logo {
  max-width: 60px;
  height: auto;
  padding: 6px
}

ion-item {
  --inner-padding-start: 0px;
  --padding-start: 0px;
  background-color: unset !important;

  ion-card-title {
    --color: var(--ion-color-xmasred);
    padding-left: 12px;
  }
}