:host {
	--workshop-header-height: calc(4.8125rem + var(--ion-safe-area-top, 0px));
	display: block;
	height: 100%;
}

ion-router-outlet#main {
	height: calc(100% - var(--workshop-header-height));
	top: var(--workshop-header-height);
}
