<admin-header title="Pre-Registration" />

<ion-content class="ion-padding-horizontal">
	<div class="limited-container">
		<div class="form-list">
			<ion-list-header color="none" class="review-instructions">
				<span>
					<h3>Instructions</h3>
					<ion-note>
						Complete the required fields below to register the
						customer. Submission reserves the appointment and queues
						a confirmation email with the customer's ticket.
					</ion-note>
					<p>
						<ion-note>
							The service creates an account for the customer. If
							the customer wants to log into their account they
							need to reset the password.
						</ion-note>
					</p>
				</span>
			</ion-list-header>

			<form [formGroup]="form" autocomplete="off" novalidate>
				<ion-item
					><ion-select
						label="Email language"
						formControlName="preferredLanguage"
						><ion-select-option value="en"
							>English</ion-select-option
						><ion-select-option value="es"
							>Español</ion-select-option
						></ion-select
					></ion-item
				>
				<ion-item-divider>
					<ion-label> Parent / Guardian </ion-label>
				</ion-item-divider>
				<ion-item>
					<ion-input
						label="First Name"
						labelPlacement="fixed"
						errorText="Enter between 2-20 characters"
						type="text"
						autocomplete="off"
						formControlName="firstName"
						placeholder="Parent first name"
						minlength="2"
						maxlength="20"
					/>
				</ion-item>
				<ion-item>
					<ion-input
						label="Last Name"
						labelPlacement="fixed"
						errorText="Enter between 2-25 characters"
						type="text"
						autocomplete="off"
						formControlName="lastName"
						placeholder="Parent last name"
						minlength="2"
						maxlength="25"
					/>
				</ion-item>
				<ion-item>
					<ion-input
						label="Email"
						labelPlacement="fixed"
						errorText="Must be a valid email address"
						type="email"
						autocomplete="off"
						formControlName="emailAddress"
						placeholder="Parent email"
					/>
				</ion-item>
				<ion-item>
					<ion-input
						label="Zip Code"
						labelPlacement="fixed"
						errorText="Enter 5 digit zip code"
						type="text"
						inputmode="numeric"
						autocomplete="off"
						formControlName="zipCode"
						placeholder="5 digit zip code"
						minlength="5"
						maxlength="5"
					/>
				</ion-item>
				<ion-item>
					<ion-checkbox formControlName="newsletter">
						<span class="ion-text-wrap">
							Would you like to get occasional emails about our
							events & services?
						</span>
					</ion-checkbox>
				</ion-item>

				<ion-item-divider class="margin-top">
					<ion-label> Referred By </ion-label>
					<ion-button
						slot="end"
						fill="clear"
						(click)="chooseReferral()"
					>
						Pick Agency
						<ion-icon
							slot="end"
							name="search-outline"
							aria-hidden="true"
						/>
					</ion-button>
				</ion-item-divider>
				<ion-item (click)="chooseReferral()" button detail>
					<span>
						<ion-label> {{ chosenReferrer$ | async }} </ion-label>
						@if (!form.controls['referredBy'].value) {
						<ion-note
							color="danger"
							slot="error"
							class="error-note"
						>
							Choose a referring agency
						</ion-note>
						}
					</span>
				</ion-item>
				<div class="margin-top">
					@if (children$ | async; as children) {
					<admin-manage-children
						[children]="children"
						(adddedChild)="addChild($event)"
						(editedChild)="editChild($event)"
						(removedChild)="removeChild($event)"
					/>
					}
				</div>

				<ion-item-divider class="margin-top">
					<ion-label> Reservation </ion-label>
					@if (!form.controls['dateTimeSlot'].value) {
					<ion-text color="danger" class="error-note" slot="end">
						Pick a date and time
					</ion-text>
					}
				</ion-item-divider>
				@if (availableSlots$ | async; as slots) {
				<ion-item>
					<ion-select
						label="Available Days/Times"
						formControlName="dateTimeSlot"
					>
						@for (slot of slots; track slotIndex($index, slot)) {
						<ion-select-option [value]="slot">
							{{ slot.dateTime | eventDate: "short" }}
						</ion-select-option>
						}
					</ion-select>
				</ion-item>
				}
			</form>

			<ion-item-divider class="success-divider">
				<ion-label>
					Is all information correct and accurate?
				</ion-label>
			</ion-item-divider>

			<ion-item
				lines="none"
				button
				color="success"
				class="confirm-button"
				[disabled]="form.invalid || !(children$ | async)?.length"
				(click)="register()"
			>
				<ion-label>
					<h1>Yes, continue</h1>
				</ion-label>
				<ion-icon
					name="checkmark-circle"
					slot="end"
					size="large"
					aria-hidden="true"
				/>
			</ion-item>
		</div>
	</div>
</ion-content>
