<ion-header>
	<ion-toolbar>
		<ion-title>{{ 'REFERRAL.MODAL_TITLE' | translate }}</ion-title>
		<ion-buttons slot="end">
			<ion-button id="cancelReferralButton" (click)="cancel()">
				{{ 'COMMON.CANCEL' | translate }}
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	@if (selectedReferral === undefined) {
		<ion-list>
			<ion-searchbar
				id="referralSearchbar"
				(ionChange)="filter($event)"
				animated="true"
				[placeholder]="'REFERRAL.SEARCH_PLACEHOLDER' | translate"
			/>
			<ion-item-group>
				<ion-item-divider color="light" disabled>
					<ion-label>{{
						'REFERRAL.COMMON_OPTIONS' | translate
					}}</ion-label>
				</ion-item-divider>
				@for (
					referral of referrals$ | async;
					track referral;
					let i = $index
				) {
					@if (referral === '----------') {
						<ion-item-divider disabled color="light">
							<ion-label>
								{{
									i < 10
										? ('REFERRAL.ALPHABETICAL' | translate)
										: ''
								}}
							</ion-label>
						</ion-item-divider>
					} @else {
						<ion-item
							[attr.id]="'referral-' + referral"
							button
							detail
							lines="full"
							(click)="setChoice(referral)"
						>
							<ion-label class="ref-choices">
								{{
									referral === 'Other'
										? ('REFERRAL.OTHER' | translate)
										: referral
								}}
							</ion-label>
						</ion-item>
					}
				}
			</ion-item-group>
		</ion-list>
	} @else {
		<ion-list>
			<ion-item>
				<ion-label position="stacked" class="ref-choice">
					{{ 'REFERRAL.YOU_SELECTED' | translate }}
				</ion-label>
				<ion-text class="ref-choice">
					{{
						selectedReferral === 'Other'
							? ('REFERRAL.OTHER' | translate)
							: selectedReferral
					}}
				</ion-text>
			</ion-item>
		</ion-list>

		@if (isOtherChoice()) {
			<form [formGroup]="otherForm">
				<ion-item>
					<ion-input
						id="referralOther"
						fill="outline"
						[autofocus]="true"
						[label]="'REFERRAL.OTHER_ANSWER' | translate"
						labelPlacement="floating"
						[placeholder]="
							'REFERRAL.REFERRED_BY_PLACEHOLDER' | translate
						"
						maxlength="20"
						minlength="3"
						formControlName="other"
					/>
				</ion-item>
				@if (
					otherForm.controls.other.invalid &&
					otherForm.controls.other.touched
				) {
					<ion-note color="danger" class="ion-padding-horizontal">
						{{ 'REFERRAL.OTHER_ERROR' | translate }}
					</ion-note>
				}
			</form>
		}

		<div class="ion-padding-top buttons">
			<ion-button
				id="resetReferralButton"
				color="danger"
				(click)="setChoice()"
			>
				{{ 'COMMON.RESET' | translate }}
			</ion-button>
			<ion-button
				id="saveReferralButton"
				(click)="save()"
				[disabled]="isOtherChoice() && otherForm.invalid"
			>
				{{ 'COMMON.SAVE_CHOICE' | translate }}
			</ion-button>
		</div>
	}
</ion-content>
