.ref-choices {
	font-size: 1.1rem;
	line-height: 1.8em;
}

.ref-choice {
	font-size: 1.3rem;
	line-height: 2em;
}

.buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-inline: 16px;
}
