<ion-content [fullscreen]="true" *appLet="$customer | async as customer" color="xmasred">
  <ion-header id="top" class="ion-no-border">
    <ion-toolbar color="xmasred">
      <img src="../../../assets/santaclausshop.jpg" alt="santa claus shop logo" width="90px" height="90px" class="ion-margin" />
      <ion-item slot="primary" color="clear" lines="none">
        <div>
          <h1 color="light" class="ion-no-margin ion-no-padding">{{ customer?.firstName }} {{ customer?.lastName }}</h1>
          <ion-card-subtitle color="light"> Your Profile </ion-card-subtitle>
        </div>
        <ion-button fill="light" slot="end" size="medium" (click)="profileMenu($event)">
          <ion-icon name="menu" slot="end" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <!-- Registration Status -->
      <ion-col size-xs>
        <ion-toolbar color="xmasred">
          <ion-title slot="start"> Registration Status</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                
                <ion-col size="12" size-md *ngIf="($hasRegistered | async) && !($isModify | async)">
                  <ion-card color="success" *appLet="($customer | async) as customer">
                    <ion-card-header color="success">
                      <div class="ion-text-center">
                        <h4 class="ion-no-padding ion-no-margin">You're ready for the event!</h4>
                      </div>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="qrcode-container ion-margin-bottom ion-text-center">
                        <div *ngIf="($qrLoading | async) === true">
                          <ion-spinner></ion-spinner>
                        </div>
                        <div *ngIf="($qrLoading | async) === true">
                          Loading code...<br/>
                          If your code doesn't show up here don't worry! Just check your email and print it from there or try coming back in a few minutes
                        </div>
                        <img *ngIf="($qrLoading | async) === false" [src]="$qrCode | async" alt="Registration QR Code" />
                        <div class="qrcode-text">{{ $registrationCode | async }}</div>
                      </div>
                      <div class="ion-text-center"></div>
                      <div class="ion-text-center ion-padding-top">
                        <h1>December 11-12 & 14-15, 2020</h1>
                        <h1>10am - 3pm</h1>
                        <h3>2150 S Monaco Parkway</h3>
                        <h4>Denver, CO 80222</h4>
                      </div>
                      <div class="ion-text-center ion-padding-top">
                        <ion-label color="dark"> Need to change your registration details? </ion-label><br />
                        <ion-button color="danger" (click)="modifyRegistration()">
                          <ion-text color="light">
                            <strong>Modify Registration</strong>
                          </ion-text>
                        </ion-button>
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <ion-col size="12" size-md>
                  <ion-list>
                    <ion-item>
                      <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
                      <ion-label>Create Account</ion-label>
                    </ion-item>
                    <ion-item *appLet="$registrationDate | async as registrationDate" href="./profile#arrival-date">
                      <ion-icon
                        slot="start"
                        [name]="!!registrationDate ? 'checkmark-circle-outline' : 'chevron-forward-circle-outline'"
                        [color]="!!registrationDate ? 'success' : 'medium'"
                      ></ion-icon>
                      <ion-label>Choose arrival date and time</ion-label>
                    </ion-item>
                    <ion-item *appLet="$children | async as children" href="./profile#add-children">
                      <ion-icon
                        slot="start"
                        [name]="children?.length ? 'checkmark-circle-outline' : 'chevron-forward-circle-outline'"
                        [color]="children?.length ? 'success' : 'medium'"
                      ></ion-icon>
                      <ion-label>Add your children ages 0-11</ion-label>
                    </ion-item>
                    <ion-item *appLet="($hasRegistered | async) && !($isModify | async) as registered" href="./profile#submit-registration">
                      <ion-icon
                        *appLet=""
                        slot="start"
                        [name]="registered ? 'chevron-forward-circle-outline' : 'close-circle-outline'"
                        [color]="registered ? 'success' : 'medium'"
                      ></ion-icon>
                      <ion-label>Register for event</ion-label>
                    </ion-item>
                  </ion-list>

                  <ion-list *ngIf="($hasRegistered | async) && !($isModify | async)">
                    <ion-item>
                      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
                      <ion-text color="primary">
                        <strong>Print or save this page or the email we sent you!</strong>
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
                      <ion-text color="primary">This is your ticket to the event</ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
                      <ion-text>Enter parking lot of Monaco at light All other entrances<br /> will be blocked off to DSCS traffic.</ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
                      <ion-text>Gates will open at 9am each day to begin line formation</ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
                      <ion-text>Bring your ID and children's birth certificates <br />(or other form of id)</ion-text>
                    </ion-item>
                  </ion-list>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Choose Date and Time -->
    <ion-row>
      <ion-col id="arrival-date" size="12">
        <ion-toolbar color="xmasred">
          <ion-title slot="start"> Choose an arrival date/time </ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size-md size="12" class="ion-padding-end">
                  <ion-list>
                    <ion-item>
                      <strong>
                        Date/Time instructions
                      </strong>
                    </ion-item>
                    <ion-item lines="none">
                      Please use the first letter of your last name to choose your date
                    </ion-item>

                    <!-- TODO: Auto-pick date based on last name -->
                    <ion-item>
                      <span>
                        <ul>
                          <li><strong>T-Z: </strong>Dec. 11th</li>
                          <li><strong>A-G: </strong>Dec. 12th</li>
                          <li><strong>H-M: </strong>Dec. 14th</li>
                          <li><strong>N-S: </strong>Dec. 15th</li>
                        </ul>
                      </span>
                    </ion-item>

                    <ion-item>
                      Choosing a date and time will allow the "Save Date/Time" button to be pressable
                    </ion-item>
                    <ion-item>
                      If you change the date and time remember to save again
                    </ion-item>
                  </ion-list>
                </ion-col>

                <ion-col size-md size="12" class="ion-align-self-center">
                  <form [formGroup]="dateTimeForm" novalidate>
                    <ion-list>
                      <ion-item>
                        <ion-label position="stacked"><strong>Date</strong></ion-label>
                        <ion-select formControlName="date" placeholder="Choose Date" interface="popover">
                          <ion-select-option [value]="11"> December 11th, 2020 </ion-select-option>
                          <ion-select-option [value]="12"> December 12th, 2020 </ion-select-option>
                          <ion-select-option [value]="14"> December 14th, 2020 </ion-select-option>
                          <ion-select-option [value]="15"> December 15th, 2020 </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked"><strong>Time</strong></ion-label>
                        <ion-select formControlName="time" placeholder="Choose Time" interface="popover">
                          <ion-select-option [value]="10"> 10am </ion-select-option>
                          <ion-select-option [value]="11"> 11am </ion-select-option>
                          <ion-select-option [value]="12"> 12pm </ion-select-option>
                          <ion-select-option [value]="13"> 1pm </ion-select-option>
                          <ion-select-option [value]="14"> 2pm </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label *ngIf="!this.dateTimeForm.valid" class="ion-text-wrap">Pick a date/time, then save</ion-label>
                        <ion-label *ngIf="this.dateTimeForm.valid" class="ion-text-wrap">Save Date & Time</ion-label>
                        <ion-button slot="end" [disabled]="!this.dateTimeForm.valid" (click)="saveDateTime()" size="medium">Save Date/Time</ion-button>
                      </ion-item>
                    </ion-list>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Add Children -->
    <ion-row>
      <ion-col size="12" *appLet="!($hasRegistered | async) || ($isModify | async) as allowEdit">

        <ion-toolbar color="xmasred">
          <ion-title slot="start"> Add Your Children </ion-title>
          <ion-button (click)="addEditChild()" slot="end" color="primary" class="padding-right-md" [disabled]="!allowEdit">
            <ion-label>Add Child</ion-label>
            <ion-icon name="add-circle" slot="end"></ion-icon>
          </ion-button>
        </ion-toolbar>

        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size-md size="12" class="ion-padding-end">
                  <ion-list>
                    <ion-item>
                      <strong>
                        Instructions to add children
                      </strong>
                    </ion-item>
                    <ion-item>
                      Press the blue "Add Child" button to start adding your children 
                    </ion-item>
                    <ion-item>
                      We only have toys for children ages 11 and under
                    </ion-item>
                    <ion-item>
                      After you add a child you can edit them by clicking on them
                    </ion-item>
                  </ion-list>
                </ion-col>
    
                <ion-col id="add-children" size-md size="12" class="ion-text-center ion-align-self-center">
                  
                  <div *ngIf="!($children | async)?.length" class="ion-text-center" class="padding-top-lg" (click)="addEditChild()">
                    <ion-button size="large">
                      <ion-label>Start adding your children</ion-label>
                      <ion-icon name="add-circle" slot="end" size="large"></ion-icon>
                    </ion-button>
                  </div>
                  <ion-card>
                    <ion-card-header *ngIf="$isModify | async">
                      <ion-note>Don't forget to update your registration if you add or change children!</ion-note>
                    </ion-card-header>
                    <ion-list class="ion-no-padding">
                      <ion-item
                        *ngFor="let child of ($children | async)"
                        (click)="addEditChild(child)"
                        [disabled]="!allowEdit"
                        tappable
                        button
                        lines="full"
                        class="child-item"
                        detail
                        detail-icon="create"
                        [ngClass]="{'infant-style' : child.toyType == 'infant', 'boys-style': child.toyType == 'boys', 'girls-style': child.toyType == 'girls'}"
                      >
                        <div class="padding-bottom-md">
                          <h1>{{ child.firstName }}</h1>
                          <ion-card-subtitle> Age {{ child.ageGroup }} </ion-card-subtitle>
                        </div>
                      </ion-item>
                    </ion-list>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Submit Registration -->
    <ion-row id="submit-registration" *ngIf="!($hasRegistered | async) || ($isModify | async)">
      <ion-col size="12">

        <ion-toolbar color="xmasred">
          <ion-title slot="start"> Submit Registration </ion-title>
        </ion-toolbar>

        <ion-card>
          <ion-card-content>

            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size-md size="12" class="ion-padding-bottom">
                  <ion-list>
                    <ion-item>
                      <strong>Are you ready to submit?</strong>
                    </ion-item>
                    <ion-item>
                      Make sure you picked your arrival date and time 
                    </ion-item>
                    <ion-item>
                      Double-Check that all of your children (ages 11 and under) are added 
                    </ion-item>
                  </ion-list>
                </ion-col>

                <ion-col size-md size="12" class="ion-text-center ion-align-self-center ion-padding-bottom">
                  <ion-button color="primary" [disabled]="!($registrationEnabled | async)" (click)="confirmRegistration()" size="large">
                    <ion-icon name="paper-plane" slot="end"></ion-icon>
                    <ion-label *appLet="$hasRegistered | async as hasRegistered">
                      <strong>{{ hasRegistered ? 'Update Registration' : 'Submit Registration' }}</strong>
                    </ion-label>
                  </ion-button>
                </ion-col>                
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button href="./profile#top">Back to top</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
