.ref-choices {
	font-size: 1.1rem;
	line-height: 1.8em;
}

.ref-choice {
	font-size: 1.3rem;
	line-height: 2em;
}

.buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

ion-card {
	max-width: 560px;
}

.other-input {
	border-width: 1px;
	border-style: solid;
	margin-top: 13px;
	border-radius: 5px;
	--padding-start: 8px;
	--padding-end: 8px;
}
