<ion-card>
	<ion-card-header>
		<ion-card-title>
			{{ "REFERRAL.REFERRED_BY" | translate }}
		</ion-card-title>
	</ion-card-header>
	<ion-card-content>
		<ion-list *ngIf="(referralChoice$ | async) === undefined">
			<ion-searchbar
				(ionChange)="filter($event)"
				animated="true"
				placeholder="{{ 'REFERRAL.SEARCH_PLACEHOLDER' | translate }}"
			></ion-searchbar>

			<ion-item-group>
				<ion-item
					*ngFor="let ref of referrals$ | async"
					button
					detail
					(click)="setChoice(ref)"
				>
					<ion-label class="ref-choice">{{ ref }}</ion-label>
				</ion-item>
			</ion-item-group>
		</ion-list>

		<ion-item-group *ngIf="referralChoice$ | async as choice">
			<ion-item>
				<ion-label position="stacked" class="ref-choice">
					{{ "REFERRAL.YOU_SELECTED" | translate }}
				</ion-label>
				<ion-text class="ref-choice"> {{ choice }} </ion-text>
			</ion-item>

			<div class="ion-padding-top buttons">
				<ion-button
					slot="start"
					size="default"
					color="danger"
					(click)="setChoice()"
				>
					{{ "COMMON.RESET" | translate }}
				</ion-button>
				<ion-button slot="end" size="default" (click)="submit()">
					{{ "COMMON.SAVE_CHOICE" | translate }}
				</ion-button>
			</div>
		</ion-item-group>
	</ion-card-content>
</ion-card>
