.img-div {
  background-image: url(../../../../assets/images/davies-designs-studio-txJ27-2-7Bw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position:top right;
  background-size: cover;
}

.sign-up-card {
  min-width: 395px;
  max-width: 630px;
}