<ion-header>
  <ion-toolbar>
    <ion-title>Registration Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" [hidden]="!($availableDevices | async)?.length">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Device</ion-label>
          <ion-select [value]="($deviceId | async)" (ionChange)="onDeviceSelectChange($event.detail.value)">
            <ion-select-option [value]="''">No Device Selected</ion-select-option>
            <ion-select-option *ngFor="let device of ($availableDevices | async)" [value]="device.deviceId">
              {{ device.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <span>
          <zxing-scanner
            #scanner
            [enable]="$cameraEnabled | async"
            [formats]="formatsEnabled"
            [device]="$deviceToUse | async"
            [tryHarder]="false"
            [autostart]="true"
            (camerasFound)="onCamerasFound($event)"
            (deviceChange)="onDeviceChange($event)"
            (scanSuccess)="onCodeResult($event)"
            (permissionResponse)="onHasPermission($event)"
            (torchCompatible)="onTorchCompatible($event)"
          ></zxing-scanner>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- 
<ng-container *appLet="$hasPermissions | async as hasPermission">
  <ng-container *ngIf="hasPermission === undefined">
    <h2>Waiting for permissions.</h2>
    <blockquote>
      If your device does not has cameras, no permissions will be asked.
    </blockquote>
  </ng-container>
  
  <ng-container *ngIf="hasPermission === false">
    <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>
  </ng-container>
  
  <ng-container *ngIf="($availableDevices | async) === undefined">
    <h2>Couldn't check for devices.</h2>
    <blockquote>
      This may be caused by some security error.
    </blockquote>
  </ng-container>
</ng-container> -->