@if (!embedded()) {
	<admin-header
		title="{{ 'Search: Registration Code' | adminText }}"
		backRoute="/admin/search"
	/>

	<ion-content fullscreen class="ion-padding"
		><ng-container [ngTemplateOutlet]="searchForm"
	/></ion-content>
} @else {
	<ng-container [ngTemplateOutlet]="searchForm" />
}
<ng-template #searchForm>
	<div class="limited-container">
		<form [formGroup]="form">
			<ion-list>
				<ion-item counter>
					<ion-input
						type="text"
						label="{{ 'Code' | adminText }}"
						labelPlacement="stacked"
						formControlName="code"
						maxLength="8"
						minlength="7"
						placeholder="{{ 'required' | adminText }}"
						autocomplete="off"
					/>
				</ion-item>
			</ion-list>
		</form>
		<div class="search-buttons">
			<ion-button
				color="danger"
				(click)="reset()"
				routerLink="/admin/search"
			>
				<ion-icon
					name="backspace-outline"
					slot="start"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Reset' | adminText }} </ion-label>
			</ion-button>
			<ion-button
				(click)="search()"
				routerLink="/admin/search/results"
				[disabled]="!form.valid"
			>
				<ion-icon
					name="search-outline"
					slot="start"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Search' | adminText }} </ion-label>
			</ion-button>
		</div>
	</div>
</ng-template>
