<admin-header
	title="Search: Registration Code"
	backRoute="/admin/search"
></admin-header>

<ion-content fullscreen class="ion-padding">
	<main class="limited-container">
		<ion-card-header>
			<ion-card-title> Step 2 </ion-card-title>
			<ion-card-subtitle> Enter registration code </ion-card-subtitle>
		</ion-card-header>
		<form [formGroup]="form">
			<ion-list>
				<ion-item counter>
					<ion-label slot="start"> Code </ion-label>
					<ion-input
						type="text"
						formControlName="code"
						maxLength="8"
						minlength="7"
						placeholder="required"
						autocomplete="off"
					></ion-input>
				</ion-item>
			</ion-list>
		</form>
		<div class="search-buttons">
			<ion-button color="danger" (click)="reset()" routerLink="..">
				<ion-icon name="backspace-outline" slot="start"></ion-icon>
				<ion-label> Reset </ion-label>
			</ion-button>
			<ion-button
				(click)="search()"
				routerLink="../results"
				[disabled]="!form.valid"
			>
				<ion-icon name="search-outline" slot="start"></ion-icon>
				<ion-label> Search </ion-label>
			</ion-button>
		</div>
	</main>
</ion-content>
