/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-title {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

ion-card, ion-button {
  --border-radius: 8px;
  border-radius: 8px;
}

ion-card {
  --background: var(--ion-color-white);
  background-color: var(--ion-color-white);
}

ion-list {
  border-style: none;
}

ion-item {
  background-color: unset;
}

ion-button {
  --box-shadow: none;
}

re-captcha {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.logo {
  max-width: 200px;
  width: 60%;
  height: auto;
  padding-bottom: 20px;
}

.sm-logo {
  max-width: 60px;
  height: auto;
  padding: 6px 12px 6px 0px;
  position: relative;
  overflow: visible;
}

.side-menu {
  min-width: 200px;
}

.dark-border {
  --border-color: var(--ion-color-dark);
  --border-radius: 8px;
  --border-style: solid;
  --border-width: 1px;
  box-sizing: border-box;
}

.inset-ion-item-title {
  --inner-padding-start: 0px;
  --padding-start: 0px;
  --background: var(--ion-color-white);
  background-color: var(--ion-color-white);
  --border-color: var(--ion-color-medium);

  ion-card-title {
    --color: var(--ion-color-xmasred);
    padding-left: 12px;
  }
}

.round-button {
  --border-radius: 50%;
  --padding-start: 6px;
  --padding-end: 6px;
  width: 46px;
  height: 46px;
}

.even-ratio-button {
  --border-radius: 30%;
  width: 46px;
  height: 46px;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
}

.icon-reduced-margin {
  margin-inline-end: 0px;
}

.title-font {
  // font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.ion-card-title-lg {
  // font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 2rem;
}

.ion-card-title-sm {
  // font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.ion-card-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.ion-card-subtitle-lg {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.remove-shadow {
  --box-shadow:none;
}

.modal-md {
	--min-height: 70%;
	--min-width: 60%;
}

.width-max {
  width: 100%;
}

.height-max {
  height: 100%;
}

.no-shadow {
  box-shadow: none !important;
  --webkit-box-shadow: none;
}


$es-size-definitions: (
  xs: 2px,
  sm: 4px,
  md: 8px,
  lg: 16px,
  xl: 24px,
  xxl: 32px
) !default;

$es-direction-definitions: (
  top,
  bottom,
  right,
  left
) !default;

@mixin es-margin-list {
  @each $direction in $es-direction-definitions {
    @each $key, $value in $es-size-definitions {
      .es-mg-#{$direction}-#{$key} { margin-#{$direction}: $value; }
    }
  }
}
@include es-margin-list();


@mixin es-padding-list {
  @each $direction in $es-direction-definitions {
    @each $key, $value in $es-size-definitions {
      .es-pd-#{$direction}-#{$key} { padding-#{$direction}: $value; }
    }
  }
}
@include es-padding-list();


:root {
  --es-px-xs: 2px;
  --es-px-sm: 4px;
  --es-px-md: 8px;
  --es-px-lg: 16px;
  --es-px-xl: 24px;
  --es-px-xxl: 32px;
}

.firebase-emulator-warning { display: none; }
#ghostery-tracker-tally { display: none;}