<ion-content
  [fullscreen]="true"
  *appLet="$customer | async as customer"
  color="xmasred"
>
  <ion-header id="top" class="ion-no-border">
    <ion-toolbar color="xmasred">
      <img
        src="../../../assets/santaclausshop.jpg"
        alt="santa claus shop logo"
        width="90px"
        height="90px"
        class="ion-margin"
      />
      <ion-item slot="primary" color="clear" lines="none">
        <div>
          <h1 color="light" class="ion-no-margin ion-no-padding">
            {{ customer?.firstName }} {{ customer?.lastName }}
          </h1>
          <ion-card-subtitle color="light">
            {{ 'COMMON.PROFILE'| translate }}
          </ion-card-subtitle>
        </div>
        <ion-button
          fill="light"
          slot="end"
          size="medium"
          (click)="profileMenu($event)"
        >
          <ion-icon name="menu" slot="end" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row *ngIf="!($signupEnabled | async)">
      <ion-col class="ion-text-center">
        <ion-title>
          We're sorry, registrations are closed<br />
          Lo sentimos, las inscripciones están cerradas
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Registration Status -->
      <ion-col size-xs>
        <ion-toolbar color="xmasred">
          <ion-title slot="start">
            {{ 'REGISTRATION.HEADER' | translate }}
          </ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col
                  size="12"
                  size-md
                  *ngIf="($hasRegistered | async) && !($isModify | async)"
                >
                  <ion-card
                    color="success"
                    *appLet="($customer | async) as customer"
                  >
                    <ion-card-header color="success">
                      <div class="ion-text-center">
                        <h4 class="ion-no-padding ion-no-margin">
                          {{ 'REGISTRATION.READY' | translate }}
                        </h4>
                      </div>
                    </ion-card-header>
                    <ion-card-content>
                      <div
                        class="qrcode-container ion-margin-bottom ion-text-center"
                      >
                        <div *ngIf="($qrLoading | async) === true">
                          <ion-spinner></ion-spinner>
                        </div>
                        <div *ngIf="($qrLoading | async) === true">
                          {{ 'REGISTRATION.LOADING' | translate }}<br />
                          {{ 'REGISTRATION.CODE_HELP' | translate }}
                        </div>
                        <img
                          *ngIf="($qrLoading | async) === false"
                          [src]="$qrCode | async"
                          alt="Registration QR Code"
                        />
                        <div class="qrcode-text">
                          {{ $registrationCode | async }}
                        </div>
                        <div class="padding-bottom-md ion-padding-horizontal">
                          <ion-note>
                            {{ 'REGISTRATION.QR_INFO' | translate }}
                          </ion-note>
                        </div>
                      </div>
                      <div class="ion-text-center"></div>
                      <div class="ion-text-center ion-padding-top">
                        <h1>{{ $registrationDate | async }}</h1>
                        <h3>{{ 'REGISTRATION.EVENT_ADDRESS1' | translate }}</h3>
                        <h4>{{ 'REGISTRATION.EVENT_ADDRESS2' | translate }}</h4>
                      </div>
                      <div class="ion-text-center ion-padding-top">
                        <ion-label color="dark">
                          {{ 'REGISTRATION.CHANGE_DETAILS' | translate }} </ion-label
                        ><br />
                        <ng-container *ngIf="$sentEmail | async as sentEmail">
                          <ion-button  *ngIf="!sentEmail.resend" color="danger" (click)="resendEmail()">
                            <ion-text color="light">
                              <strong>
                                {{ 'REGISTRATION.RESEND_EMAIL' | translate }}
                              </strong>
                            </ion-text>
                          </ion-button><br />
                        </ng-container>
                        <ion-button
                          color="danger"
                          (click)="modifyRegistration()"
                          [disabled]="!($signupEnabled | async)"
                        >
                          <ion-text color="light">
                            <strong>
                              {{ 'REGISTRATION.MODIFY' | translate }}
                            </strong>
                          </ion-text>
                        </ion-button>
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <ion-col size="12" size-md>
                  <ion-list>
                    <ion-item>
                      <ion-icon
                        slot="start"
                        name="checkmark-circle-outline"
                        color="success"
                      ></ion-icon>
                      <ion-label>
                        {{ 'COMMON.CREATE_ACCOUNT' | translate }}
                      </ion-label>
                    </ion-item>
                    <ion-item
                      *appLet="$registrationDate | async as registrationDate"
                      href="./profile#arrival-date"
                    >
                      <ion-icon
                        slot="start"
                        [name]="!!registrationDate ? 'checkmark-circle-outline' : 'chevron-forward-circle-outline'"
                        [color]="!!registrationDate ? 'success' : 'medium'"
                      ></ion-icon>
                      <ion-label>
                        {{ 'REGISTRATION.CHOOSE_DATETIME' | translate }}
                      </ion-label>
                    </ion-item>
                    <ion-item
                      *appLet="$children | async as children"
                      href="./profile#add-children"
                    >
                      <ion-icon
                        slot="start"
                        [name]="children?.length ? 'checkmark-circle-outline' : 'chevron-forward-circle-outline'"
                        [color]="children?.length ? 'success' : 'medium'"
                      ></ion-icon>
                      <ion-label>
                        {{ 'REGISTRATION.ADD_CHILDREN' | translate }}
                      </ion-label>
                    </ion-item>
                    <ion-item
                      *appLet="($hasRegistered | async) && !($isModify | async) as registered"
                      href="./profile#submit-registration"
                    >
                      <ion-icon
                        *appLet=""
                        slot="start"
                        [name]="registered ? 'chevron-forward-circle-outline' : 'close-circle-outline'"
                        [color]="registered ? 'success' : 'medium'"
                      ></ion-icon>
                      <ion-label>
                        {{ 'REGISTRATION.REGISTER' | translate }}
                      </ion-label>
                    </ion-item>
                  </ion-list>

                  <ion-list
                    *ngIf="($hasRegistered | async) && !($isModify | async)"
                  >
                    <ion-item>
                      <ion-icon
                        name="alert-circle-outline"
                        slot="start"
                      ></ion-icon>
                      <ion-text color="primary">
                        <strong>
                          {{ 'REGISTRATION.PRINT_PAGE' | translate }}
                        </strong>
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon
                        name="alert-circle-outline"
                        slot="start"
                      ></ion-icon>
                      <ion-text color="primary">
                        {{ 'REGISTRATION.YOUR_TICKET' | translate }}
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon
                        name="alert-circle-outline"
                        slot="start"
                      ></ion-icon>
                      <ion-text
                        ><div [innerHTML]>
                          {{ 'REGISTRATION.ENTRY_INSTRUCTIONS' | translate }}
                        </div></ion-text
                      >
                    </ion-item>
                    <ion-item>
                      <ion-icon
                        name="alert-circle-outline"
                        slot="start"
                      ></ion-icon>
                      <ion-text>
                        {{ 'REGISTRATION.GATES_OPEN' | translate }}
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon
                        name="alert-circle-outline"
                        slot="start"
                      ></ion-icon>
                      <ion-text>
                        <div [innerHTML]>
                          {{ 'REGISTRATION.BRING_ID' | translate }}
                        </div>
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon
                        name="alert-circle-outline"
                        color="danger"
                        slot="start"
                      ></ion-icon>
                      {{ 'REGISTRATION.CHECK_WEBSITE' | translate }}
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Choose Date and Time -->
    <ion-row>
      <ion-col id="arrival-date" size="12">
        <ion-toolbar color="xmasred">
          <ion-title slot="start">
            {{ 'REGISTRATION.CHOOSE_DATETIME' | translate }}
          </ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size-md size="12" class="ion-padding-end">
                  <ion-list>
                    <ion-item>
                      <strong>
                        {{ 'REGISTRATION.DATETIME_INSTRUCTIONS' | translate }}
                      </strong>
                    </ion-item>
                    <ion-item lines="none">
                      {{ 'REGISTRATION.LETTER_LASTNAME_0' | translate }}
                    </ion-item>

                    <ion-item>
                      <ul>
                        <li>
                          <div
                            [innerHTML]="'REGISTRATION.LETTER_LASTNAME_1' | translate"
                          ></div>
                        </li>
                        <li>
                          <div
                            [innerHTML]="'REGISTRATION.LETTER_LASTNAME_2' | translate"
                          ></div>
                        </li>
                        <li>
                          <div
                            [innerHTML]="'REGISTRATION.LETTER_LASTNAME_3' | translate"
                          ></div>
                        </li>
                        <li>
                          <div
                            [innerHTML]="'REGISTRATION.LETTER_LASTNAME_4' | translate"
                          ></div>
                        </li>
                      </ul>
                    </ion-item>
                  </ion-list>
                </ion-col>

                <ion-col size-md size="12" class="ion-align-self-center">
                  <form [formGroup]="dateTimeForm" novalidate>
                    <ion-list>
                      <ion-item>
                        <ion-label position="stacked"
                          ><strong>
                            {{ 'REGISTRATION.DATE' | translate }}
                          </strong></ion-label
                        >
                        <ion-select
                          formControlName="date"
                          placeholder="Choose Date"
                          interface="popover"
                          (ionChange)="onDateTimeChange()"
                          [disabled]="!($signupEnabled | async)"
                        >
                          <!-- <ion-select-option [value]="11">
                            {{ 'REGISTRATION.DATE_VALUE_1' | translate }}
                          </ion-select-option> -->
                          <!-- Removed. Saturday sold out
                          <ion-select-option [value]="12">
                            {{ 'REGISTRATION.DATE_VALUE_2' | translate }}
                          </ion-select-option> -->
                          <!-- <ion-select-option [value]="14">
                            {{ 'REGISTRATION.DATE_VALUE_3' | translate }}
                          </ion-select-option> -->
                          <ion-select-option [value]="15">
                            {{ 'REGISTRATION.DATE_VALUE_4' | translate }}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked"
                          ><strong>Time</strong></ion-label
                        >
                        <ion-select
                          formControlName="time"
                          placeholder="Choose Time"
                          interface="popover"
                          (ionChange)="onDateTimeChange()"
                          [disabled]="!($signupEnabled | async)"
                        >
                          <ion-select-option [value]="10">
                            {{ 'REGISTRATION.TIME_VALUE_1' | translate }}
                          </ion-select-option>
                          <ion-select-option [value]="11">
                            {{ 'REGISTRATION.TIME_VALUE_2' | translate }}
                          </ion-select-option>
                          <ion-select-option [value]="12">
                            {{ 'REGISTRATION.TIME_VALUE_3' | translate }}
                          </ion-select-option>
                          <ion-select-option [value]="13">
                            {{ 'REGISTRATION.TIME_VALUE_4' | translate }}
                          </ion-select-option>
                          <ion-select-option [value]="14">
                            {{ 'REGISTRATION.TIME_VALUE_5' | translate }}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-icon
                          name="alert-circle-outline"
                          color="danger"
                          slot="start"
                        ></ion-icon>
                        <ion-text class="ion-padding-vertical">
                          {{ 'REGISTRATION.CHECK_WEBSITE' | translate }}
                        </ion-text>
                      </ion-item>
                    </ion-list>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Add Children -->
    <ion-row>
      <ion-col
        size="12"
        *appLet="!($hasRegistered | async) || ($isModify | async) as allowEdit"
      >
        <ion-toolbar color="xmasred">
          <ion-title slot="start">
            {{ 'REGISTRATION.ADD_CHILDREN_HEADER' | translate }}
          </ion-title>
          <ion-button
            (click)="addEditChild()"
            slot="end"
            color="primary"
            class="padding-right-md"
            [disabled]="!allowEdit || !($signupEnabled | async)"
          >
            <ion-label>{{ 'REGISTRATION.ADD_CHILD' | translate }}</ion-label>
            <ion-icon name="add-circle" slot="end"></ion-icon>
          </ion-button>
        </ion-toolbar>

        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size-md size="12" class="ion-padding-end">
                  <ion-list>
                    <ion-item>
                      <strong>
                        {{ 'REGISTRATION.ADD_CHILD_INSTRUCTIONS_HEADER' |
                        translate }}
                      </strong>
                    </ion-item>
                    <ion-item>
                      {{ 'REGISTRATION.ADD_CHILD_INSTRUCTIONS_1' | translate }}
                    </ion-item>
                    <ion-item>
                      {{ 'REGISTRATION.ADD_CHILD_INSTRUCTIONS_2' | translate }}
                    </ion-item>
                    <ion-item>
                      {{ 'REGISTRATION.ADD_CHILD_INSTRUCTIONS_3' | translate }}
                    </ion-item>
                  </ion-list>
                </ion-col>

                <ion-col
                  id="add-children"
                  size-md
                  size="12"
                  class="ion-text-center ion-align-self-center"
                >
                  <div
                    *ngIf="!($children | async)?.length"
                    class="ion-text-center"
                    class="padding-top-lg"
                    (click)="addEditChild()"
                  >
                    <ion-button size="large" [disabled]="!($signupEnabled | async)">
                      <ion-label
                        >{{ 'REGISTRATION.START_ADD_CHILD' | translate
                        }}</ion-label
                      >
                      <ion-icon
                        name="add-circle"
                        slot="end"
                        size="large"
                      ></ion-icon>
                    </ion-button>
                  </div>
                  <ion-card>
                    <ion-card-header *ngIf="$isModify | async">
                      <ion-note
                        >{{ 'REGISTRATION.UPDATE_REGISTRATION_REMINDER' |
                        translate }}</ion-note
                      >
                    </ion-card-header>
                    <ion-list class="ion-no-padding">
                      <ion-item
                        *ngFor="let child of ($children | async)"
                        (click)="addEditChild(child)"
                        [disabled]="!allowEdit || !($signupEnabled | async)"
                        tappable
                        button
                        lines="full"
                        class="child-item"
                        detail
                        detail-icon="create"
                        [ngClass]="{'infant-style' : child.toyType == 'infant', 'boys-style': child.toyType == 'boys', 'girls-style': child.toyType == 'girls'}"
                      >
                        <div class="padding-bottom-md">
                          <h1>{{ child.firstName }}</h1>
                          <ion-card-subtitle>
                            {{ 'REGISTRATION.AGE' | translate }} {{
                            child.ageGroup }}
                          </ion-card-subtitle>
                        </div>
                      </ion-item>
                    </ion-list>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Submit Registration -->
    <ion-row
      id="submit-registration"
      *ngIf="!($hasRegistered | async) || ($isModify | async)"
    >
      <ion-col size="12">
        <ion-toolbar color="xmasred">
          <ion-title slot="start">
            {{ 'REGISTRATION.SUBMIT_REGISTRATION' | translate }}
          </ion-title>
        </ion-toolbar>

        <ion-card>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size-md size="12" class="ion-padding-bottom">
                  <ion-list>
                    <ion-item>
                      <strong
                        >{{ 'REGISTRATION.ARE_YOU_READY' | translate }}</strong
                      >
                    </ion-item>
                    <ion-item>
                      {{ 'REGISTRATION.MAKE_SURE_DATETIME' | translate }}
                    </ion-item>
                    <ion-item>
                      {{ 'REGISTRATION.DOUBLE_CHECK_CHILDREN' | translate }}
                    </ion-item>
                  </ion-list>
                </ion-col>

                <ion-col
                  size-md
                  size="12"
                  class="ion-text-center ion-align-self-center ion-padding-bottom"
                >
                  <ion-button
                    color="primary"
                    [disabled]="!($registrationEnabled | async) || !($signupEnabled | async)"
                    (click)="confirmRegistration()"
                    size="large"
                  >
                    <ion-icon name="paper-plane" slot="end"></ion-icon>
                    <ion-label
                      *appLet="$hasRegistered | async as hasRegistered"
                    >
                      <strong
                        >{{ hasRegistered ? ('REGISTRATION.UPDATE_REGISTRATION'
                        | translate) : ('REGISTRATION.SUBMIT_REGISTRATION' |
                        translate) }}</strong
                      >
                    </ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button href="./profile#top"
          >{{ 'COMMON.BACK_TO_TOP' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
