<ion-item-divider>
	<ion-label>
		{{ 'Children' | adminText }}
		<ion-badge>{{ children().length }}</ion-badge>
	</ion-label>
	<ion-button slot="end" fill="clear" shape="round" (click)="addEditChild()">
		<ion-icon name="add-circle" slot="end" aria-hidden="true" />
		{{ 'Add Child' | adminText }}
	</ion-button>
</ion-item-divider>

@if (!children().length) {
	<ion-item button detail (click)="addEditChild()">
		<span>
			<ion-label> {{ 'Add children' | adminText }} </ion-label>
			@if (!children().length) {
				<ion-note color="danger" slot="error" class="error-note">
					{{ 'Add all children 11 years old or younger' | adminText }}
				</ion-note>
			}
		</span>
	</ion-item>
}

@for (child of children(); track child) {
	<ion-item-sliding #slider>
		<ion-item (click)="slider.open('end')" detail detailIcon="menu-outline">
			<ion-label>
				<h2>{{ child.firstName }} {{ child.lastName }}</h2>
				<p>
					<ion-badge color="dark">
						{{ 'Age: {{v0}}' | adminText: {v0: (child.ageGroup)} }}
					</ion-badge>
					{{
						(child.dateOfBirth
							? calendarDate(child.dateOfBirth)
							: undefined
						) | adminCalendarDate
					}}
				</p>
			</ion-label>
		</ion-item>
		<ion-item-options>
			<ion-item-option color="primary" (click)="addEditChild(child)">
				<ion-icon
					slot="start"
					name="create-outline"
					slot="top"
					aria-hidden="true"
				/>
				<ion-label slot="bottom"> {{ 'Edit' | adminText }} </ion-label>
			</ion-item-option>
			<ion-item-option color="danger" (click)="removeChild(child.id!)">
				<ion-icon
					slot="start"
					name="trash-outline"
					slot="top"
					aria-hidden="true"
				/>
				<ion-label slot="bottom">
					{{ 'Delete' | adminText }}
				</ion-label>
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
}
