@let referredBy = referredBy$ | async; @if (referredBy) {
<app-internal-header />
}

<ion-content id="main">
	@let isRegistrationComplete = isRegistrationComplete$ | async;
	<ion-tabs>
		@if (referredBy && !isRegistrationComplete) { @let childCount =
		childCount$ | async;
		<ion-tab-bar slot="bottom" class="ion-hide-xl-up">
			<ion-tab-button tab="overview">
				<ion-icon name="home" />
				<ion-label>{{ "MENU.HOME" | translate }}</ion-label>
			</ion-tab-button>
			@if (!isRegistrationComplete) {
			<ion-tab-button tab="children">
				<ion-icon name="accessibility" />
				<ion-label>{{ "MENU.CHILDREN" | translate }}</ion-label>
				@let count = childCount$ | async; @if (count && count >= 1) {
				<ion-badge color="success"> {{ count }} </ion-badge>
				}
			</ion-tab-button>
			} @if (!isRegistrationComplete) {
			<ion-tab-button tab="date-time" [disabled]="!childCount">
				<ion-icon name="calendar-outline" />
				<ion-label>{{ "MENU.SCHEDULE" | translate }}</ion-label>
				@let slot = chosenSlot$ | async; @if (!!slot) {
				<ion-badge color="success">
					<ion-icon name="checkmark" />
				</ion-badge>
				}
			</ion-tab-button>
			} @if (!isRegistrationComplete) {
			<ion-tab-button
				class="submit"
				tab="submit"
				[disabled]="
				!childCount || (chosenSlot$ | async) === undefined
			"
			>
				<ion-icon name="send-outline" />
				<ion-label>{{ "MENU.SUBMIT" | translate }}</ion-label>
			</ion-tab-button>
			}
		</ion-tab-bar>
		}
	</ion-tabs>
</ion-content>
