<ion-content id="main">

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="information">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Overview</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="children" *ngIf="!(isRegistrationComplete$ | async)">
        <ion-icon name="people"></ion-icon>
        <ion-label>Children</ion-label>
        <ng-container *appLet="childCount$ | async as count">
          <ion-badge [color]="count > 0 ? 'success' : 'danger'">{{ count }}</ion-badge>
        </ng-container>
      </ion-tab-button>

      <ion-tab-button tab="date-time" [disabled]="!(childCount$ | async)" *ngIf="!(isRegistrationComplete$ | async)">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ng-container *appLet="chosenSlot$ | async as slot">
          <ion-badge [color]="!!slot ? 'success' : 'danger'">
            <ion-icon name="checkmark"></ion-icon>
          </ion-badge>
        </ng-container>
      </ion-tab-button>
  
      <ion-tab-button tab="submit" [disabled]="!(childCount$ | async) || !(chosenSlot$ | async)" *ngIf="!(isRegistrationComplete$ | async)">
        <ion-icon name="bag-check"></ion-icon>
        <ion-label>Submit</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="confirmation" *ngIf="(isRegistrationComplete$ | async)">
        <ion-icon name="gift"></ion-icon>
        <ion-label>Confirmation</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
    
  </ion-tabs>

</ion-content>