<ion-content size="fullscreen" color="light" class="ion-text-center">
  <div class="div-container">

    <ion-text color="xmasred">
      <h2> Oh No!<br />Registration is </h2>
    </ion-text>

    <h1> Closed </h1>

    <div class="es-mg-bottom-xxl es-mg-top-xxl es-pd-bottom-xxl es-pd-top-xxl">
      <img src="assets/images/registration-closed.png" alt="shop closed image">
    </div>

    <div class="es-mg-top-xxl">
      <ion-text color="xmasred">
        <h3>
          Sorry, Santa’s Sleigh is full and all Dates & Times have been filled.
            Please visit our social sites for more information.
        </h3>
      </ion-text>
    </div>

    <div class="es-mg-bottom-xxl es-mg-top-xxl">
      <a href="https://www.facebook.com/denversantaclausshop" target="_blank">
        <ion-button
          color="white"
          class="remove-shadow round-button ion-margin-end dark-border"
          size="default"
        >
          <ion-icon
            slot="icon-only"
            name="logo-facebook"
            color="medium"
          ></ion-icon>
        </ion-button>
      </a>
  
      <a
        href="https://www.instagram.com/denversantaclausshop/"
        target="_blank"
      >
        <ion-button
          color="white"
          class="remove-shadow round-button dark-border"
          size="default"
        >
          <ion-icon
            slot="icon-only"
            name="logo-instagram"
            color="medium"
          ></ion-icon>
        </ion-button>
      </a>
    </div>

  </div>
</ion-content>
