<ion-content size="fullscreen" color="light" class="ion-text-center">
  <!-- TODO: This page -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title> Oh No!<br />Registration is</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>CLOSED</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          Sorry, Santa’s Sleigh is full and all Dates & Times have been filled.
          Please visit our social sites for more information.
      </ion-col>
    </ion-row>
    
    <ion-row class="es-pd-top-xxl">
      <ion-col class="ion-text-center">
        <a href="https://www.facebook.com/denversantaclausshop" target="_blank">
          <ion-button
            color="white"
            class="remove-shadow round-button ion-margin-end dark-border"
            size="default"
          >
            <ion-icon
              slot="icon-only"
              name="logo-facebook"
              color="medium"
            ></ion-icon>
          </ion-button>
        </a>

        <a
          href="https://www.instagram.com/denversantaclausshop/"
          target="_blank"
        >
          <ion-button
            color="white"
            class="remove-shadow round-button dark-border"
            size="default"
          >
            <ion-icon
              slot="icon-only"
              name="logo-instagram"
              color="medium"
            ></ion-icon>
          </ion-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
