<ion-card [disabled]="!canChooseDateTime" *appLet="dateTimeSlot as slot">
	<ion-card-header>
		<ion-item class="inset-ion-item-title">
			<ion-card-title>
				{{ "OVERVIEW.SCHEDULE" | translate }}
			</ion-card-title>
			<ion-badge
				color="success"
				slot="end"
				*ngIf="slot !== (null || undefined)"
			>
				Complete
			</ion-badge>
		</ion-item>
	</ion-card-header>
	<ion-card-content class="ion-text-center">
		<ng-container *ngIf="!slot; else hasDateTimeSlot">
			<p>
				<strong>
					{{ "OVERVIEW.NO_TIME_SELECTED." | translate }}
				</strong>
				<br />
				{{ "OVERVIEW.NO_TIME_MESSAGE" | translate }}
			</p>

			<p class="ion-text-end es-pd-top-sm">
				<ion-button color="xmasred" [routerLink]="['../date-time']">
					{{ "OVERVIEW.SELECT_TIME" | translate }}
				</ion-button>
			</p>
		</ng-container>

		<ng-template #hasDateTimeSlot>
			<ion-item lines="none" *ngIf="slot">
				<h2 class="ion-text-wrap">
					{{ slot.dateTime | date: "fullDate" }},
					{{ slot.dateTime | date: "shortTime" }}
				</h2>
			</ion-item>
			<p class="ion-text-end es-pd-top-sm">
				<ion-button color="xmasred" [routerLink]="['../date-time']">
					{{ "OVERVIEW.CHANGE_TIME" | translate }}
				</ion-button>
			</p>
		</ng-template>
	</ion-card-content>
</ion-card>
