<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="checkin">
			<ion-icon name="bag-check-outline" color="success"></ion-icon>
			<ion-label>Check-In</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="search">
			<ion-icon name="search-outline" color="warning"></ion-icon>
			<ion-label>Search</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="registration">
			<ion-icon name="person-add-outline" color="primary"></ion-icon>
			<ion-label>Register</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
