<ion-content>
	<ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-tab-bar>
			<ion-tab-button
				[routerLink]="['/admin/checkin']"
				routerLinkActive="tab-selected"
				routerDirection="root"
				[disabled]="(checkinEnabled$ | async) === false"
			>
				<ion-icon name="bag-check-outline" color="success"></ion-icon>
				<ion-label>Check-In</ion-label>
			</ion-tab-button>

			<ion-tab-button
				[routerLink]="['/admin/search']"
				routerLinkActive="tab-selected"
				routerDirection="root"
			>
				<ion-icon name="search-outline" color="warning"></ion-icon>
				<ion-label>Search</ion-label>
			</ion-tab-button>

			<ion-tab-button
				[routerLink]="['/admin/registration']"
				routerLinkActive="tab-selected"
				routerDirection="root"
				[disabled]="(onsiteRegistrationEnabled$ | async) === false"
			>
				<ion-icon name="storefront-outline" color="primary"></ion-icon>
				<ion-label>Registration</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-toolbar>
</ion-footer>
