<div class="admin-router-shell">
	<ion-router-outlet />
</div>

<ion-footer>
	<ion-toolbar>
		<ion-tab-bar>
			<ion-tab-button
				[routerLink]="['/admin/landing']"
				routerLinkActive="tab-selected"
				routerDirection="root"
			>
				<ion-icon
					name="storefront-outline"
					color="tertiary"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Home' | adminText }} </ion-label>
			</ion-tab-button>

			<ion-tab-button
				id="checkInTab"
				[routerLink]="['/admin/checkin']"
				routerLinkActive="tab-selected"
				routerDirection="root"
				[disabled]="!checkinEnabled()"
			>
				<ion-icon
					name="bag-check-outline"
					color="success"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Check-In' | adminText }} </ion-label>
			</ion-tab-button>

			<ion-tab-button
				[routerLink]="['/admin/search']"
				routerLinkActive="tab-selected"
				routerDirection="root"
			>
				<ion-icon
					name="search-outline"
					color="warning"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Search' | adminText }} </ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-toolbar>
</ion-footer>
