<ion-header>
  <ion-toolbar>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center">
          <ion-card-title class="ion-card-title-sm">
            Verify Account
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="3"> 
        <ion-card class="status-tile ion-text-center">
          <ion-card-title class="ion-card-title-sm">
            Choose Date & Time
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center">
          <ion-card-title class="ion-card-title-sm">
            Add Children
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center">
          <ion-card-title class="ion-card-title-sm">
            Submit Registration
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
