<ion-header>
  <ion-toolbar>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center" routerLink="#" tappable>
          <ion-card-title class="ion-card-title-sm">
            Verify Account
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center" routerLink="./date-time" tappable>
          <ion-card-title class="ion-card-title-sm">
            Choose Date & Time
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center" routerLink="./children" tappable>
          <ion-card-title class="ion-card-title-sm">
            Add Children
          </ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6" sizeMd="3">
        <ion-card class="status-tile ion-text-center" routerLink="./submit" tappable>
          <ion-card-title class="ion-card-title-sm">
            Submit Registration
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </ion-col>

      <ion-col size="auto">
        <div class="image-placeholder">Image here</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Location<br/>
          12345 S Something Way<br/>
          Denver, CO 80000
        </p>
      </ion-col>

      <ion-col>
        <p>
          Hours<br/>
          9:00am-4:00pm
        </p>
      </ion-col>

      <ion-col>
        For all children 11 and under
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
