.status-tile {
  height: 140px;
}

.status-tile ion-card-title {
  position: relative !important;
  // top: 60% !important;
  // left: 50%;
  // transform: translate(-50%, -50%) !important;
  transform: translate(0, 100%) !important;
  padding: 10px;
}

.image-placeholder {
  width: 500px;
  height: 300px;
  background-color: bisque;
}