<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ ($registration | async)?.fullName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="dismiss()">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="$loading | async">
  <div class="width-max height-max ion-text-center padding-top-lg">
    <ion-spinner color="primary"></ion-spinner>
  </div>
</ng-container>

<ng-container *ngIf="!($existingCheckin | async)?.customerId && ($loading | async) === false; else existingCheckin">
  <ion-content>
    <ion-grid *appLet="$registration | async as registration">
      <ion-row>
        <ion-col class="ion-text-center small-title">
          Children: {{ registration?.children.length }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md size="12" size-lg-up="4" *ngFor="let child of registration?.children">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="ion-text-start ion-text-capitalize big-bold-text">
                  <ion-text color="dark"> {{ child.t | hydrateToyType }} </ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-end ion-text-capitalize big-bold-text">
                  <ion-text color="dark"> {{ child.a | hydrateAgeGroup }} </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-capitalize medium-text">
                  {{ child.n }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
        <ion-buttons class="ion-justify-content-around ion-padding-vertical">
          <ion-button (click)="editRegistration()" expand="block">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>Edit</ion-label>
          </ion-button>
      
          <ion-button (click)="checkIn()" expand="block">
            <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            <ion-label>Check In</ion-label>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>

<ng-template #existingCheckin>
  <ion-content>
    Already checked in
  </ion-content>
</ng-template>