<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quick Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-text> Fill out the information below </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <form [formGroup]="customerForm" novalidate>
                <ion-item *appLet="'zipCode' as controlName">
                  <ion-label position="stacked" class="ion-padding-bottom">Zip Code</ion-label>
                  <ion-input placeholder="#####" [formControlName]="controlName" debounce="750"></ion-input>
                </ion-item>
              </form>

              <ion-item *ngFor="let child of $children | async">
                <ion-label>
                  {{ child | json }}
                </ion-label>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-label>
                  Children Information
                </ion-label>
              </ion-item>

              <ion-radio-group>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="0"></ion-radio>
                        <ion-label>
                          0-2
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="3"></ion-radio>
                        <ion-label>
                          3-5
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="6"></ion-radio>
                        <ion-label>
                          6-8
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="9"></ion-radio>
                        <ion-label>
                          9-11
                        </ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-radio-group>

              <ion-radio-group>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="i"></ion-radio>
                        <ion-label>
                          Infant
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="b"></ion-radio>
                        <ion-label>
                          Boy
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-radio slot="start" value="g"></ion-radio>
                        <ion-label>
                          Infant
                        </ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-radio-group>

              <ion-item button tappable lines="none" color="primary" class="ion-margin-top" (click)="addChild()">
                <ion-label>Add Child</ion-label>
                <ion-icon slot="end" name="add-circle"></ion-icon>
              </ion-item>
              <ion-item button tappable lines="none" color="success" class="ion-margin-top">
                <ion-label>Done, Save Registration</ion-label>
                <ion-icon slot="end" name="save"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
