<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Sign in </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">
              Email Address</ion-label
              >
              <ion-input
                formControlName="emailAddress"
                autocomplete="email"
                type="email"
              ></ion-input>
              @if (form.controls.emailAddress.dirty) {
                <ion-note
                  slot="error"
                  color="danger"
                  >
                  Invalid email address
                </ion-note>
              }
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                formControlName="password"
                autocomplete="password"
                type="password"
              ></ion-input>
              @if (form.controls.password.dirty) {
                <ion-note
                  slot="error"
                  color="danger"
                  >
                  Password is required
                </ion-note>
              }
            </ion-item>
          </form>
          <ion-toolbar color="none">
            <ion-button
              slot="end"
              [disabled]="form.invalid"
              (click)="login()"
              >
              Login
            </ion-button>
          </ion-toolbar>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <p>
            <ion-note>
              {{ environmentName }}<br />
              {{ environmentVersion }}
            </ion-note>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
