@if (!embedded()) {
	<admin-header
		title="{{ 'Search: Last Name & Zip' | adminText }}"
		backRoute="/admin/search"
	/>

	<ion-content fullscreen class="ion-padding"
		><ng-container [ngTemplateOutlet]="searchForm"
	/></ion-content>
} @else {
	<ng-container [ngTemplateOutlet]="searchForm" />
}
<ng-template #searchForm>
	<div class="limited-container">
		<form [formGroup]="form">
			<ion-list>
				<ion-item>
					<ion-input
						type="text"
						label="{{ 'Last name' | adminText }}"
						labelPlacement="stacked"
						formControlName="lastName"
						maxlength="20"
						minlength="2"
						autocomplete="off"
						placeholder="{{ 'required' | adminText }}"
					/>
					@if (
						form.controls['lastName'].touched &&
						form.controls['lastName'].invalid
					) {
						<ion-note slot="error">
							{{
								'Invalid last name. 2-20 characters' | adminText
							}}
						</ion-note>
					}
				</ion-item>
				<ion-item counter>
					<ion-input
						type="text"
						inputmode="numeric"
						label="{{ 'Zip code' | adminText }}"
						labelPlacement="stacked"
						maxlength="5"
						minlength="5"
						formControlName="zipCode"
						autocomplete="off"
						placeholder="{{ 'required' | adminText }}"
					/>
					@if (
						form.controls['zipCode'].touched &&
						form.controls['zipCode'].invalid
					) {
						<ion-note slot="error">
							{{
								'Invalid zip code. Must have 5 digits'
									| adminText
							}}
						</ion-note>
					}
				</ion-item>
			</ion-list>
		</form>
		<div class="search-buttons">
			<ion-button
				color="danger"
				(click)="reset()"
				routerLink="/admin/search"
			>
				<ion-icon
					name="backspace-outline"
					slot="start"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Reset' | adminText }} </ion-label>
			</ion-button>
			<ion-button
				(click)="search()"
				routerLink="/admin/search/results"
				[disabled]="!form.valid"
			>
				<ion-icon
					name="search-outline"
					slot="start"
					aria-hidden="true"
				/>
				<ion-label> {{ 'Search' | adminText }} </ion-label>
			</ion-button>
		</div>
	</div>
</ng-template>
