ion-item {
  --background: unset !important;
  background-color: unset !important;
  --inner-padding-end: 0px;
}

ion-list {
  --background: unset !important;
  background-color: unset !important;
}

.res-circle {
  width: 64px;
  border-radius: 50%;
  line-height: 0;
  position: relative;
}

.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

.boys-style {
  .res-circle {
    background-color: var(--ion-color-boy) !important;
  }
}

.girls-style {
  .res-circle {
    background-color: var(--ion-color-girl) !important;
  }
}

.infant-style {
  .res-circle {
    background-color: var(--ion-color-warning) !important;
  }
}

.filler {
  height: 120px;
}
