<ion-header color="light">
	<ion-toolbar color="light">
		<ion-item lines="none" color="none">
			<img
				src="assets/DSCS-Santa-Body_Red.png"
				class="sm-logo"
				alt="logo with santa claus"
			/>
			<ion-card-title *ngIf="user$ | async as user">
				<strong>
					{{ "COMMON.WELCOME" | translate }}, {{ user.displayName }}
				</strong>
			</ion-card-title>
		</ion-item>
		<ion-button slot="end" fill="clear" (click)="menu($event)">
			<ion-icon
				slot="icon-only"
				name="menu-sharp"
				color="dark"
				size="large"
			></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>
