<admin-header title="{{ 'Santa Shop' | adminText }}" [showBack]="false" />
<ion-content class="ion-padding">
	<div class="home-intro">
		<p class="eyebrow">{{ 'Staff workspace' | adminText }}</p>
		<h1>{{ 'Ready to welcome families' | adminText }}</h1>
		<p>
			{{
				'Check in shoppers, find a registration, or manage the event.'
					| adminText
			}}
		</p>
	</div>
	<div class="home-sections">
		<ion-list>
			<ion-list-header> {{ 'Daily tasks' | adminText }} </ion-list-header>
			<ion-item
				id="checkInNav"
				detail
				routerLink="../checkin"
				[disabled]="!checkinEnabled()"
			>
				<ion-icon
					name="bag-check-outline"
					color="success"
					slot="start"
					aria-hidden="true"
				/>
				{{ 'Check in customers' | adminText }}
			</ion-item>
			<ion-item id="searchNav" detail routerLink="../search">
				<ion-icon
					name="search-outline"
					color="warning"
					slot="start"
					aria-hidden="true"
				/>
				{{ 'Search for customers' | adminText }}
			</ion-item>
			@if (isAdmin()) {
				<ion-item
					id="onSiteRegistrationNav"
					detail
					routerLink="../registration"
					[disabled]="!onsiteRegistrationEnabled()"
				>
					<ion-icon
						name="storefront-outline"
						color="primary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'On-Site Registration' | adminText }}
				</ion-item>
				<ion-item
					id="preRegistrationNav"
					detail
					routerLink="../pre-registration"
					[disabled]="!preRegistrationEnabled()"
				>
					<ion-icon
						name="person-add-outline"
						color="primary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Pre-Register Customers' | adminText }}
				</ion-item>
			}
			@if (isAdmin()) {
				<ion-list-header> {{ 'Tools' | adminText }} </ion-list-header>
				<ion-item detail routerLink="../resend-email">
					<ion-icon
						name="mail-outline"
						color="tertiary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Resend Registration Emails' | adminText }}
				</ion-item>
				<ion-item
					id="scheduleEditorNav"
					detail
					routerLink="../schedule-editor"
				>
					<ion-icon
						name="calendar-outline"
						color="secondary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Schedule & Capacity Editor' | adminText }}
				</ion-item>
				<ion-item detail routerLink="../email-templates">
					<ion-icon
						name="document-text-outline"
						color="secondary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Email Templates' | adminText }}
				</ion-item>
				<ion-item detail routerLink="../users">
					<ion-icon
						name="people-outline"
						color="primary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'User Management' | adminText }}
				</ion-item>
				@if (isOwner()) {
					<ion-item
						id="appSettingsNav"
						detail
						routerLink="../app-settings"
					>
						<ion-icon
							name="settings-outline"
							color="secondary"
							slot="start"
							aria-hidden="true"
						/>
						{{ 'App settings' | adminText }}
					</ion-item>
					<ion-item
						id="ownerOperationsNav"
						detail
						routerLink="../owner-operations"
					>
						<ion-icon
							name="shield-checkmark-outline"
							color="danger"
							slot="start"
							aria-hidden="true"
						/>
						{{ 'Owner Operations' | adminText }}
					</ion-item>
				}

				<ion-list-header> {{ 'Reports' | adminText }} </ion-list-header>
				<ion-item
					id="scanRiskReviewNav"
					detail
					routerLink="../stats/scan-risk"
				>
					<ion-icon
						name="alert-circle-outline"
						color="danger"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Scan Risk Review' | adminText }}
				</ion-item>
				<ion-item detail routerLink="../stats/registration">
					<ion-icon
						name="stats-chart-outline"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Registration Stats' | adminText }}
				</ion-item>
				<ion-item detail routerLink="../stats/check-in">
					<ion-icon
						name="cart-outline"
						color="secondary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Check-In Stats' | adminText }}
				</ion-item>
				<ion-item detail routerLink="../stats/user">
					<ion-icon
						name="people-outline"
						color="tertiary"
						slot="start"
						aria-hidden="true"
					/>
					{{ 'Shopper Stats' | adminText }}
				</ion-item>
			}

			<ion-list-header> {{ 'Other' | adminText }} </ion-list-header>
			<ion-item
				id="adminSignOutButton"
				(click)="signOut()"
				(keydown.enter)="signOut()"
				detail
				button
				tappable
			>
				<ion-icon
					name="exit-outline"
					color="danger"
					slot="start"
					aria-hidden="true"
				/>
				{{ 'Sign Out' | adminText }}
			</ion-item>
		</ion-list>
	</div></ion-content
>
