<ion-content class="ion-padding ion-text-center">
	<ion-list>
		<ion-list-header> DSCS Event Administration </ion-list-header>
		<ion-item
			detail
			routerLink="../checkin"
			disabled
			[disabled]="(checkinEnabled$ | async) === false"
		>
			<ion-icon
				name="bag-check-outline"
				color="success"
				slot="start"
			></ion-icon>
			Check in customers
		</ion-item>
		<ion-item detail routerLink="../search">
			<ion-icon
				name="search-outline"
				color="warning"
				slot="start"
			></ion-icon>
			Search for customers
		</ion-item>
		<ion-item detail routerLink="../registration">
			<ion-icon
				name="storefront-outline"
				color="primary"
				slot="start"
			></ion-icon>
			On-Site Registration
		</ion-item>

		<ion-list-header> Tools </ion-list-header>
		<ion-item
			detail
			routerLink="../pre-registration"
			[disabled]="(preRegistrationEnabled$ | async) === false"
		>
			<ion-icon
				name="person-add-outline"
				color="primary"
				slot="start"
			></ion-icon>
			Pre-Register Customers
		</ion-item>
		<ion-item detail routerLink="../resend-email">
			<ion-icon
				name="mail-outline"
				color="tertiary"
				slot="start"
			></ion-icon>
			Resend Registration Emails
		</ion-item>

		<ion-list-header> DSCS Data </ion-list-header>
		<ion-item detail routerLink="../stats/registration">
			<ion-icon name="stats-chart-outline" slot="start"></ion-icon>
			Registration Stats
		</ion-item>
		<ion-item detail routerLink="../stats/check-in">
			<ion-icon
				name="cart-outline"
				color="secondary"
				slot="start"
			></ion-icon>
			Check-In Stats
		</ion-item>
		<ion-item detail routerLink="../stats/user">
			<ion-icon
				name="people-outline"
				color="tertiary"
				slot="start"
			></ion-icon>
			User Stats
		</ion-item>

		<ion-list-header> Other </ion-list-header>
		<ion-item (click)="signOut()" detail button tappable>
			<ion-icon
				name="exit-outline"
				color="danger"
				slot="start"
			></ion-icon>
			Sign Out
		</ion-item>
		<ion-item>
			<ion-icon
				name="moon-outline"
				color="tertiary"
				slot="start"
			></ion-icon>
			Theme (Light or Dark)
			<ion-toggle
				slot="end"
				(ionChange)="toggleTheme()"
				[checked]="appStateService.prefersDark"
			></ion-toggle>
		</ion-item>
	</ion-list>
</ion-content>
