<admin-header title="Check-In Stats"></admin-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				Updated {{ checkinLastUpdated$ | async | date:'short' }}
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center">
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalCustomers$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Customers</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalChildren$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Children</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalPreregistered$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Pre-Registered</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="onSiteRegistrations$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>On-Site</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="2" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalModifiedRegistrations$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Modified</h3>
				</div>
			</ion-col>
		</ion-row>

		<ion-row *appLet="checkInsByDayHour$ | async as slots">
			<ion-col size="12">
				<ion-toolbar color="none">
					<h2 slot="start" class="ion-text-left">
						{{ (graphView$ | async) === 'customerCount' ?
						'Check-Ins' : 'Children' }} by Day/Hour
					</h2>
					<div slot="end">
						<ion-button (click)="switchView()">
							<ion-icon
								name="refresh-sharp"
								slot="start"
							></ion-icon>
							{{ viewButtonText$ | async }}
						</ion-button>
					</div>
				</ion-toolbar>
			</ion-col>
			<ion-col
				sizeXs="12"
				sizeSm="12"
				sizeMd="6"
				sizeLg="6"
				*ngFor="let slot of slots; index as i;"
			>
				<ion-toolbar color="none" class="ion-padding-horizontal">
					<h3 slot="start">{{ slot.datasets[0].label }}</h3>
					<ion-text slot="end">
						Total: {{ addValues(slot.datasets[0].data) }}
					</ion-text>
				</ion-toolbar>

				<canvas
					baseChart
					[options]="barChartOptions"
					[datasets]="slot.datasets"
					[labels]="['9am', '10am', '11am', '12pm', '1pm', '2pm', '3pm']"
					[legend]="false"
					type="bar"
				></canvas>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
