<admin-header title="Check-In Stats">
	<ion-item>
		<ion-select [(ngModel)]="year" (ionChange)="refreshYear.next()">
			@for (years of schedule; track years.year) {
			<ion-select-option [value]="years.year">
				{{ years.year }}
			</ion-select-option>
			}
		</ion-select>
	</ion-item>
</admin-header>

<ion-content>
	<ion-grid>
		@if ((hasData$ | async) === false) {
		<ion-row>
			<ion-col class="ion-text-center">
				<ion-title> No data found for this year </ion-title>
			</ion-col>
		</ion-row>
		} @else {
		<ion-row>
			<ion-col size="12" class="ion-text-center">
				Updated {{ checkinLastUpdated$ | async | date:'short' }}
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center">
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalCustomers$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Customers</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalChildren$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Children</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalPreregistered$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Pre-Registered</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="3" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="onSiteRegistrations$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>On-Site</h3>
				</div>
			</ion-col>
			<ion-col sizeXs="6" sizeSm="4" sizeMd="2" sizeLg="2" sizeXl="2">
				<div
					class="count-container"
					*appLet="totalModifiedRegistrations$ | async as count"
				>
					<h1>{{ count }}</h1>
					<h3>Modified</h3>
				</div>
			</ion-col>
		</ion-row>

		<ion-row *appLet="checkInsByDayHour$ | async as slots">
			<ion-col size="12">
				<ion-toolbar color="none">
					<h2 slot="start" class="ion-text-left">
						{{ (graphView$ | async) === 'customerCount' ?
						'Check-Ins' : 'Children' }}
					</h2>
					<div slot="end">
						<ion-button (click)="switchView()">
							<ion-icon
								name="refresh-sharp"
								slot="start"
							></ion-icon>
							{{ viewButtonText$ | async }}
						</ion-button>
					</div>
				</ion-toolbar>
			</ion-col>
			@for (slot of slots; track slot; let i = $index) { @if
			(slot.datasets[0].data) {
			<ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
				<ion-toolbar color="none" class="ion-padding-horizontal">
					<h3 slot="start">{{ slot.datasets[0].label }}</h3>
					<ion-text slot="end">
						Total: {{ addValues(slot.datasets[0].data) }}
					</ion-text>
				</ion-toolbar>
				<canvas
					baseChart
					[options]="barChartOptions"
					[datasets]="slot.datasets"
					[labels]="slot.datasets[0].dataSeriesLabels"
					[legend]="false"
					type="bar"
				></canvas>
			</ion-col>
			} }
		</ion-row>
		}
	</ion-grid>
	<ng-template #noData>
		<div class="ion-padding">
			<ion-title> No data yet. Please check back later. </ion-title>
		</div>
	</ng-template>
</ion-content>
